swagger: '2.0'
info:
  title: shurenyun API
  description: 数人云 API 文档
  version: 2.0.0
host: devdashboard.dataman-inc.net
schemes:
  - http
basePath: /api/v2
produces:
  - application/json
paths:
  /auth:
    post:
      summary: 验证用户名密码是否匹配并获取登录token
      description:
         验证通过，返回用户的登录 *token*;
         验证失败，返回错误码及相应的错误信息
      parameters:
        - name: body
          in: body
          description:
            登录邮箱和密码
          required: true
          schema:
            $ref: '#/definitions/Auth'
      tags:
        - Auth
      responses:
        '200':
          description: 登录成功返回token
          schema:
            $ref: '#/definitions/Token'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    get:
      summary: 验证登录token是否有效
      description:
          验证通过，返回200；
          验证失败，返回错误码及相应的错误信息
      parameters:
        - name: Authorization
          in: header
          description: 登录token
          required: true
          type: string
      tags:
        - Auth
      responses:
        '200':
          description: 验证的Authorization token存在且有效.
          schema:
            $ref: '#/definitions/Token'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 用户登出并删除登录 token
      description:
         验证登录token是否有效，验证通过，删除token, 返回200；
         验证失败，返回错误码及相应的错误信息
      parameters:
        - name: Authorization
          in: header
          description: 登录token
          required: true
          type: string
      tags:
        - Auth
      responses:
        '200':
          description: 验证的Authorization token存在且有效.
          schema:
            $ref: '#/definitions/Token'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /auth/user/registration:
     post:
      summary: 新用户注册并发送激活邮件到注册邮箱
      description:
        注册成功后发送激活邮件到注册邮箱, 返回200
        注册失败，返回错误码及相应的错误信息
      parameters:
        - name: body
          in: body
          description:
            注册项
          required: true
          schema:
            $ref: '#/definitions/Registration'
      produces:
        - application/json
        - text/html
      tags:
        - Auth
      responses:
        '200':
          description: code 0
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /auth/user/activation:
     post:
      summary: 发送激活邮件到用户的邮箱
      description:
        发送邮件到未激活的用户邮箱；
        如果用户已激活，返回异常，不发送邮件
        如果用户不存在，返回错误码及相应的错误信息
      parameters:
        - name: body
          in: body
          description:
            用户邮箱
          required: true
          schema:
            $ref: '#/definitions/Activation'
      tags:
        - Auth
      responses:
        '200':
          description: code 0
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /auth/user/activation/{activate_code}:
     put:
      summary: 激活用户且发送欢迎邮件到用户邮箱
      description:
        如果激活码有效，激活用户并发送欢迎邮件
        如果激活码无效，返回错误码及相应的错误信息
      produces:
        - application/json
        - text/html
      parameters:
      - name: activate_code
        in: path
        description: 激活码
        required: true
        type: string
      tags:
        - Auth
      responses:
        '200':
          description: code 0
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /auth/password/resetrequest:
     post:
      summary: 发送密码重置邮件到用户邮箱
      description:
        如果用户存在，发送邮件到邮箱；
        如果用户不存在，返回错误码及相应的错误信息
      parameters:
        - name: body
          in: body
          description: 用户邮箱
          required: true
          schema:
            $ref: '#/definitions/PasswordResetRequest'
      tags:
        - Auth
      responses:
        '200':
          description: 用户存在，发送邮件到邮箱
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /auth/password/{reset_code}:
     get:
      summary: 检查密码重置码有效性
      description:
        密码重置码有效，返回200；
        密码重置码无效，返回错误码及相应的错误信息
      parameters:
      - name: reset_code
        in: path
        description: 密码重置码
        required: true
        type: string
      tags:
        - Auth
      responses:
        '200':
          description: 密码重置码有效
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
     put:
      summary: 重置用户密码
      description:
        重置密码
      parameters:
      - name: reset_code
        in: path
        description: 密码重置码
        required: true
        type: string
      - name: body
        in: body
        description: 新密码
        required: true
        schema:
          $ref: '#/definitions/PasswordReset'
      tags:
        - Auth
      responses:
        '200':
          description: code 0
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /user:
     get:
      summary: 获取用户信息
      description:
         登录token有效，返回用户信息；
         登录token无效，返回错误码及相应的错误信息
      parameters:
        - name: Authorization
          in: header
          description: 登录token
          required: true
          type: string
      tags:
        - User
      responses:
        '200':
          description: 验证的Authorization token存在且有效.
          schema:
            $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /user/password:
     put:
      summary: 已登录用户修改密码
      description:
         登录token有效，旧密码正确，两次输入新密码一致，修改密码；
         登录token无效，返回错误码及相应的错误信息
      parameters:
        - name: Authorization
          in: header
          description: 登录token
          required: true
          type: string
        - name: body
          in: body
          description: password change
          required: true
          schema:
            $ref: '#/definitions/UserPassword'
      tags:
        - User
      responses:
        '200':
          description: 验证的Authorization token存在且有效.
          schema:
            $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /clusters:
    get:
      summary: 查询所有集群
      description: 获取用户的所有集群列表
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
      tags:
        - Cluster
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: '#/definitions/Cluster'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster:
    post:
      summary: 创建集群
      description: 创建集群
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: body
          in: body
          description: 新集群属性
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: 集群名称
              clusterType:
                type: string
                description: "集群类型
                          可用的类型：1_master（初级版）,2_master（高级版）,3_master（企业版）"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                    description: 新集群的id
                  name:
                    type: string
                    description: 新集群的名称
                  created_at:
                    type: string
                    description: 新集群创建时间
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 修改集群
      description: 修改集群
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
              isUpdateAgent:
                description: 是否自动升级agent到最新版
                type: boolean
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster/{clusterId}:
    get:
      summary: 查询单个集群
      description: 查询单个集群
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          description: 集群id
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Cluster'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 删除集群
      description: 删除集群
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          description: 集群id
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster/{clusterId}/node:
    post:
      summary: 创建主机节点
      description: 在指定集群下创建主机节点
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          description: 集群id
          required: true
          type: integer
          format: int32
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
                description: 新主机节点的id。（通过/cluster/{clusterId}/node/identifier接口获取）
              name:
                type: string
              attributes:
                type: object
                description: 新主机包含的主机类型
                properties:
                  transient:
                    type: boolean
                    description: 计算节点
                  gateway:
                    type: boolean
                    description: 外部网关
                  proxy:
                    type: boolean
                    description: 内部代理
                  persistent:
                    type: boolean
                    description: 外部网关
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 修改主机
      description: 修改主机
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          description: 修改的目标主机所在的集群的id
          required: true
          type: integer
          format: int32
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
                description: 主机的id
              name:
                type: string
                description: 主机的新名称
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster/{clusterId}/node/identifier:
    get:
      summary: 获取新主机节点的uuid
      description: 获取指定集群的新主机uuid,以便创建主机
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          description: 集群id
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                properties:
                  identifier:
                    type: string
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster/{clusterId}/node/{nodeId}:
    get:
      summary: 查询单个主机
      description: 查询单个主机
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          description: 主机所在的集群的id
          required: true
          type: integer
          format: int32
        - name: nodeId
          in: path
          description: 主机id
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Node'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster/{clusterId}/node/{nodeId}/metrics:
    get:
      summary: 查询主机的性能数据
      description: 查询主机的性能数据
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          description: 主机所在的集群的id
          required: true
          type: integer
          format: int32
        - name: nodeId
          in: path
          description: 主机id
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  type: object
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster/{clusterId}/nodes:
    delete:
      summary: 批量删除主机
      description: 批量删除指定集群下的主机
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          description: 集群id
          required: true
          type: integer
          format: int32
        - name: body
          in: body
          required: true
          schema:
            type: array
            description: 目标主机的id列表
            items:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

definitions:
  Auth:
    type: object
    properties:
      email:
        type: string
        description: 'Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles.'
      password:
        type: string
        description: Display name of product.
  Token:
    type: object
    properties:
      code:
        type: integer
        format: int32
      data:
        type: object
        properties:
          token:
            type: string
            description: 用户登录凭证
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
  Registration:
    type: object
    properties:
      email:
        type: string
      password:
        type: string
        description: Display name of product.
      company:
        type: string
      wechat_qq:
        type: string
      phone_number:
        type: string
  Activation:
    type: object
    properties:
      email:
        type: string
  PasswordResetRequest:
    type: object
    properties:
      email:
        type: string
  PasswordReset:
    type: object
    properties:
      new_password:
        type: string
      new_password_compare:
        type: string
  User:
    type: object
    properties:
      code:
        type: integer
        format: int32
      data:
        type: object
        properties:
          userId:
            type: integer
          userName:
            type: string
          isSuperuser:
            type: boolean
          agent_version_latest:
            type: string
  UserPassword:
    type: object
    properties:
      old_password:
        type: string
      new_password:
        type: string
      new_password_compare:
        type: string
  Cluster:
    description: 集群信息
    type: object
    properties:
      id:
        type: integer
        format: int32
        description: 集群id
      name:
        type: string
        description: 集群名称
      status:
        type: string
        description: 集群状态
      created_at:
        type: string
        description: 集群创建时间
      cluster_type:
        type: string
        description: 集群类型(1_master, 3_masters, 5_masters)
      updated_at:
        type: string
        description: 集群最近一次修改时间（包括状态变更）
      nodes:
        description: 集群下的所有主机
        type: array
        items:
          type: object
          properties:
            id:
              description: 主机id
              type: integer
              format: int32
            name:
              description: 主机名称
              type: string
            status:
              description: 主机状态
              type: string
            ip:
              description: 主机ip
              type: string
            role:
              description: 主机角色（master, slave）
              type: string
            created_at:
              description: 主机加入时间
              type: string
            updated_at:
              description: 主机最近一次修改时间（包括状态变更）
              type: string
            agent_version:
              description: agent的版本号
              type: string
            attribute:
              description: 主机包含的类型
              type: array
              items:
                type: object
                properties:
                  attribute:
                    description: 类型名称(transient, gateway, proxy, persistent)
                    type: string
            services:
              description: 主机上的服务
              type: array
              items:
                type: object
                properties:
                  name:
                    description: 服务名称
                    type: string
                  status:
                    description: 服务状态
                    type: string
  Node:
    description: 主机信息
    type: object
    properties:
      cluster:
        description: 主机所在的集群信息
        type: object
        properties:
          id:
            description: 集群id
            type: integer
            format: int32
          name:
            description: 集群名称
            type: string
          cluster_type:
            description: 集群类型
            type: string
      id:
        description: 主机id
        type: string
      role:
        description: 主机角色（master, slave）
        type: string
      name:
        description: 主机名称
        type: string
      status:
        description: 主机状态
        type: string
      created_at:
        description: 主机创建时间
        type: string
      ip:
        description: 主机ip
        type: string
      updated_at:
        description: 主机最近一次修改时间（包括状态变更）
        type: string
      services:
        description: 主机下的服务
        type: array
        items:
          type: object
          properties:
            name:
              description: 服务名称
              type: string
            status:
              description: 服务状态
              type: string
      attributes:
        description: 主机包含的类型
        type: array
        items:
          type: object
          properties:
            attribute:
              description: 类型名称
              type: string
