swagger: '2.0'
info:
  title: shurenyun API
  description: 数人云 API 文档
  version: 2.0.0
host: devdashboard.dataman-inc.net
schemes:
  - http
basePath: /api/v2
produces:
  - application/json
paths:
  /auth:
    post:
      summary: 用户验证登录并获取登录 token
      description:
        auth 接口验证用户名密码是否匹配，若验证通过，返回用户的登录 *token*；若验证失败，返回错误码及相应的错误信息。
      parameters:
        - name: body
          in: body
          description: 包涵用户 email 和 password 的 JSON 对象
          required: true
          schema:
            $ref: '#/definitions/Auth'
      tags:
        - Auth
      responses:
        '200':
          description: todo
          schema:
            $ref: '#/definitions/Token'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    get:
      summary: 验证登录 token
      description:
          auth接口get方法验证登录token是否存在，若验证通过，返回200；若验证失败，返回错误码及相应的错误信息。
      parameters:
        - name: Token
          in: header
          description: Authorization包含登录token
          required: true
          type: string
      tags:
        - Auth
      responses:
        '200':
          description: 验证的Authorization token存在且有效.
          schema:
            $ref: '#/definitions/Token'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 用户登出并清除登录 token
      description:
         auth接口get方法验证登录token是否存在，若验证通过，返回200，code 0；若验证失败，返回错误码及相应的错误信息。
      parameters:
        - name: Token
          in: header
          description: Authorization包含登录token
          required: true
          type: string
      tags:
        - Auth
      responses:
        '200':
          description: 验证的Authorization token存在且有效.
          schema:
            $ref: '#/definitions/Token'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /auth/user/registration:
     post:
      description:
        新用户注册，注册成功后发激活邮件到注册邮箱。
      parameters:
        - name: body
          in: body
          description: reg items
          required: true
          schema:
            $ref: '#/definitions/Registration'
      produces:
        - application/json
        - text/html
      tags:
        - Auth
      responses:
        '200':
          description: code 0
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /auth/user/activation:
     post:
      description:
        发送激活邮件到用户的邮箱。
      parameters:
        - name: body
          in: body
          description: reg items
          required: true
          schema:
            $ref: '#/definitions/Activation'
      produces:
        - application/json
        - text/html
      tags:
        - Auth
      responses:
        '200':
          description: code 0
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /auth/user/activation/$active_code:
     put:
      description:
        激活用户且发送欢迎邮件到用户邮箱。
      produces:
        - application/json
        - text/html
      tags:
        - Auth
      responses:
        '200':
          description: code 0
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /auth/password/resetrequest:
     post:
      description:
        发送密码重置邮件到用户邮箱。
      parameters:
        - name: body
          in: body
          description: reg items
          required: true
          schema:
            $ref: '#/definitions/PasswordResetRequest'
      tags:
        - Auth
      responses:
        '200':
          description: code 0
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /auth/password/$reset_code:
     get:
      description: |
        检查重置密码code有效性。
      tags:
        - Auth
      responses:
        '200':
          description: code 0
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
     put:
      description: |
        重置密码。
      tags:
        - Auth
      responses:
        '200':
          description: code 0
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /customerservice:
     get:
      description:
        获取客户服务链接地址。
      tags:
        - customerservice
      responses:
        '200':
          description: code 0
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users:
     get:
      summary: 列出所有用户（需要超级用户权限）。
      description:
         使用超级用户的登录token获取用户列表
      parameters:
        - name: Token
          in: header
          description: Authorization包含登录token
          required: true
          type: string
      tags:
        - User
      responses:
        '200':
          description: 验证的Authorization token存在且有效.
          schema:
            $ref: '#/definitions/Users'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /user:
     get:
      summary: 获取用户信息
      description:
         获取用户信息
      parameters:
        - name: Token
          in: header
          description: Authorization包含登录token
          required: true
          type: string
      tags:
        - User
      responses:
        '200':
          description: 验证的Authorization token存在且有效.
          schema:
            $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /user/password:
     put:
      summary: 已登录用户修改密码
      description:
         已登录用户修改密码
      parameters:
        - name: Token
          in: header
          description: Authorization包含登录token
          required: true
          type: string
        - name: body
          in: body
          description: password change
          required: true
          schema:
            $ref: '#/definitions/UserPassword'
      tags:
        - User
      responses:
        '200':
          description: 验证的Authorization token存在且有效.
          schema:
            $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /clusters:
    get:
      summary: 查询所有集群
      description: 获取用户的所有集群列表
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: '#/definitions/Cluster'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster:
    post:
      summary: 创建集群
      description: 创建集群
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: body
          in: body
          description: 新集群属性
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
              clusterType:
                type: string
                description: '1_master,2_master,3_master'
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  name:
                    type: string
                  created_at:
                    type: string
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 修改集群
      description: 修改集群
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
              isUpdateAgent:
                description: 是否自动升级agent到最新版
                type: boolean
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster/{clusterId}:
    get:
      summary: 查询单个集群
      description: 查询单个集群
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Cluster'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster/{clusterId}:
    delete:
      summary: 删除集群
      description: 删除集群
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster/{clusterId}/node:
    post:
      summary: 创建主机节点
      description: 在指定集群下创建主机节点
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          required: true
          type: integer
          format: int32
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              attributes:
                type: object
                properties:
                  transient:
                    type: boolean
                  gateway:
                    type: boolean
                  proxy:
                    type: boolean
                  persistent:
                    type: boolean
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 修改主机
      description: 修改主机
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          required: true
          type: integer
          format: int32
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster/{clusterId}/node/identifier:
    get:
      summary: 获取新主机节点的uuid
      description: 获取指定集群的新主机uuid,以便创建主机
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                properties:
                  identifier:
                    type: string
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster/{clusterId}/node/{nodeId}:
    get:
      summary: 查询单个主机
      description: 查询单个主机
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          required: true
          type: integer
          format: int32
        - name: nodeId
          in: path
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Node'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster/{clusterId}/node/{nodeId}/metrics:
    get:
      summary: 查询主机的性能数据
      description: 查询主机的性能数据
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          required: true
          type: integer
          format: int32
        - name: nodeId
          in: path
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  type: object
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /cluster/{clusterId}/nodes:
    delete:
      summary: 批量删除主机
      description: 批量删除指定集群下的主机
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: clusterId
          in: path
          required: true
          type: integer
          format: int32
        - name: body
          in: body
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

definitions:
  Auth:
    type: object
    properties:
      email:
        type: string
        description: 'Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles.'
      password:
        type: string
        description: Display name of product.
  Token:
    type: object
    properties:
      code:
        type: integer
        format: int32
      data:
        type: object
        properties:
          token:
            type: string
            description: 用户登录凭证
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
  Registration:
    type: object
    properties:
      email:
        type: string
      password:
        type: string
        description: Display name of product.
      company:
        type: string
      wechat_qq:
        type: string
      phone_number:
        type: string
  Activation:
    type: object
    properties:
      email:
        type: string
  PasswordResetRequest:
    type: object
    properties:
      email:
        type: string
  Users:
    type: object
    properties:
      code:
        type: integer
        format: int32
      data:
        type: object
        properties:
          email:
            type: string
            description: 用户注册邮箱
          invitation_code:
            type: string
            description: 邀请码，已废弃
          last_login:
            type: string
  User:
    type: object
    properties:
      code:
        type: integer
        format: int32
      data:
        type: object
        properties:
          userId:
            type: integer
          userName:
            type: string
          isSuperuser:
            type: boolean
          agent_version_latest:
            type: string
  UserPassword:
    type: object
    properties:
      old_password:
        type: string
      new_password:
        type: string
      new_password_compare:
        type: string
  Cluster:
    type: object
    properties:
      id:
        type: integer
        format: int32
      name:
        type: string
      status:
        type: string
      created_at:
        type: string
      cluster_type:
        type: string
      updated_at:
        type: string
      nodes:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              format: int32
            name:
              type: string
            status:
              type: string
            ip:
              type: string
            role:
              type: string
            created_at:
              type: string
            updated_at:
              type: string
            agent_version:
              type: string
            attribute:
              type: array
              items:
                type: object
                properties:
                  attribute:
                    type: string
            services:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  status:
                    type: string
  Node:
    type: object
    properties:
      cluster:
        type: object
        properties:
          id:
            type: integer
            format: int32
          name:
            type: string
          cluster_type:
            type: string
      id:
        type: string
      role:
        type: string
      name:
        type: string
      status:
        type: string
      created_at:
        type: string
      ip:
        type: string
      updated_at:
        type: string
      services:
        type: array
        items:
          type: object
          properties:
            name:
              type: string
            status:
              type: string
      attributes:
        type: array
        items:
          type: object
          properties:
            attribute:
              type: string
