swagger: '2.0'
info:
  title: shurenyun API
  description: "数人云 API 文档"
  version: "3"
host: api.shurenyun.com
schemes:
  - https
basePath: /api/v3
produces:
  - application/json

paths:
  /auth:
    post:
      summary: 验证用户名密码是否匹配并获取登录 token，如果错误则返回HTTP STATUS CODE 401.
      description: 向服务器发送当前用户的 email 及密码，若验证通过，返回当前用户的登录 token; 否则，返回错误码及相应的错误信息
      parameters:
        - name: body
          in: body
          description: 带有当前用户的注册邮箱和密码的 json 数据。
          required: true
          schema:
            $ref: '#/definitions/Auth'
      tags:
        - Auth
      responses:
        '200':
          description: 若登录成功则返回当前用户的token, HTTP STATUS CODE 401
          schema:
            $ref: '#/definitions/Token'
        '401':
          description: 登录失败，返回HTTP STATUS CODE 401, Body中的code分别为：数据错误10001;用户不存在11004;密码错误11006;非激活用户登录11005
          schema:
            $ref: '#/definitions/TokenNotValid'

    get:
      summary: 验证用户的 token 是否有效
      description: 请求验证当前用户的 token。若验证通过，返回code=0；验证失败，返回错误码及相应的错误信息
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的登录 token
          required: true
          type: string
      tags:
        - Auth
      responses:
        '200':
          description: 正常：验证的Authorization token存在且有效. <br>异常：验证错误11007
          schema:
            $ref: '#/definitions/Token'
    delete:
      summary: 用户登出并删除登录 token
      description: 请求删除用户的登录 token, 若删除成功， 返回code=0；否则, 返回错误码及相应的错误信息
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的登录 token
          required: true
          type: string
      tags:
        - Auth
      responses:
        '200':
          description: 正常：验证的 Authorization token 存在且有效,用户成功登出系统.
          schema:
            $ref: '#/definitions/Token'
        '401':
          description: 异常：验证token失败10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  /auth/user/registration:
    post:
      summary: 新用户注册并发送激活邮件到注册邮箱
      description: 注册成功后异步发送激活邮件到注册邮箱, 并立即返回code=0; 注册失败，返回错误码及相应的错误信息
      parameters:
        - name: body
          in: body
          description: '包涵用户注册信息如 email, password, company 等的 json 数据。'
          required: true
          schema:
            $ref: '#/definitions/Registration'
      produces:
        - application/json
        - text/html
      tags:
        - Auth
      responses:
        '200':
          description: 正常：注册成功，返回code=0的json 数据。 <br>异常：用户已存在11003; 错误的字段10001; 错误的Json格式10008
          schema:
            $ref: '#/definitions/RespJSON'

  /auth/user/activation:
    post:
      summary: 重新发送激活邮件到用户的邮箱
      description: 发送邮件到未激活的用户邮箱；如果用户已激活，返回异常，不发送邮件; 如果用户不存在，返回错误码及相应的错误信息
      parameters:
        - name: body
          in: body
          description: 带有用户邮箱的Json字符串
          required: true
          schema:
            $ref: '#/definitions/Activation'
      tags:
        - Auth
      responses:
        '200':
          description: 正常：激活邮件发送成功. <br>异常：数据错误10001;用户不存在11004;用户已激活11009
          schema:
            $ref: '#/definitions/RespJSON'

  '/auth/user/activation/{activate_code}':
    put:
      summary: 激活用户并且发送欢迎邮件到用户邮箱
      description: 如果激活码有效，激活用户并发送欢迎邮件; 如果激活码无效，返回错误码及相应的错误信息
      produces:
        - application/json
        - text/html
      parameters:
        - name: activate_code
          in: path
          description: 用户邮箱收到的激活码(激活码是用户邮箱收到的激活链接的最后一段字符串)
          required: true
          type: string
      tags:
        - Auth
      responses:
        '200':
          description: 正常：激活成功，返回 code=0 的 json 对象.<br> 异常：数据错误10001;激活失败11010
          schema:
            $ref: '#/definitions/RespJSON'

  /auth/password/reseturl:
    post:
      summary: 发送密码重置邮件到用户邮箱
      description: 如果用户存在，发送密码重置链接到用户邮箱；如果用户不存在，返回错误码及相应的错误信息
      parameters:
        - name: body
          in: body
          description: 包含用户邮箱的 json 对象
          required: true
          schema:
            $ref: '#/definitions/PasswordResetURL'
      tags:
        - Auth
      responses:
        '200':
          description: 正常：发送邮件到邮箱，并返回code=0的 json 对象. <br>异常：数据错误10001;邮箱地址未被注册11011
          schema:
            $ref: '#/definitions/RespJSON'

  '/auth/password/{reset_code}':
    get:
      summary: 检查密码重置码有效性
      description: 密码重置码有效，返回code=0；密码重置码无效，返回错误码及相应的错误信息
      parameters:
        - name: reset_code
          in: path
          description: 密码重置码
          required: true
          type: string
      tags:
        - Auth
      responses:
        '200':
          description: 正常：密码重置码有效, 返回code=0的 json 对象.<br>异常：无效的密码重置链接100013
          schema:
            $ref: '#/definitions/RespJSON'

    put:
      summary: 重置用户密码
      description: 重置用户密码
      parameters:
        - name: reset_code
          in: path
          description: 密码重置码
          required: true
          type: string
        - name: body
          in: body
          description: 包含用户新密码的 JSON 对象
          required: true
          schema:
            $ref: '#/definitions/PasswordReset'
      tags:
        - Auth
      responses:
        '200':
          description: 正常：用户密码重置成功， 返回 code=0 的 json 对象.<br>异常：数据错误10001;无效的密码重置链接100012;两次输入新密码不一致100013
          schema:
            $ref: '#/definitions/RespJSON'

  /user:
    get:
      summary: 获取用户信息
      description: 若用户 token 有效，返回用户信息；否则，返回错误码及相应的错误信息
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的登录 token
          required: true
          type: string
      tags:
        - User
      responses:
        '200':
          description: 正常：返回用户的基本信息.
          schema:
            $ref: '#/definitions/User'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  /user/password:
    put:
      summary: 修改当前登录用户的密码
      description: 登录token有效，旧密码正确，两次输入新密码一致，修改密码；登录token无效，返回错误码及相应的错误信息
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的登录 token
          required: true
          type: string
        - name: body
          in: body
          description: 包含当前用户的旧密码和新密码的 JSON 数据
          required: true
          schema:
            $ref: '#/definitions/UserPassword'
      tags:
        - User
      responses:
        '200':
          description: 正常：用户密码修改成功， 返回 code=0 的 json 对象.<br>异常：数据错误10001;两次输入新密码不一致100013;旧密码错误，请重新输入11006
          schema:
            type: object
            properties:
              code:
                type: integer
                description: 正常返回code为0，错误请参考错误码列表
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
  /customerservice_url:
    get:
      summary: 获取工单系统单点登录地址
      description: 获取工单系统单点登录地址
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的登录 token
          required: true
          type: string
        - name: return_to
          in: query
          description: 数人云平台登录成功跳转路径
          required: true
          type: string
      tags:
        - Misc
      responses:
        '200':
          description: 正常：获取成功， 返回 code=0 的 json 对象
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                properties:
                  url:
                    type: string
                    description: 工单系统的单点登录路径
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
  /notice:
    get:
      summary: 获取公告系统通知
      description: 获取公告系统通知
      tags:
        - Misc
      responses:
        '200':
          description: 正常：获取成功， 返回 code=0 的 json 对象
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type: integer
                    format: int32
                  content:
                    type: string
                    description: 通知内容

  /clusters:
    get:
      summary: 查询所有集群
      description: 获取用户的所有集群列表
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的 token
          required: true
          type: string
      tags:
        - Cluster
      responses:
        '200':
          description: 正常：返回用户的集群列表以及集群的相应信息.
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: '#/definitions/Cluster'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    post:
      summary: 创建集群
      description: 创建集群
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的 token
          required: true
          type: string
        - name: body
          in: body
          description: 包含集群名以及集群类型的 json 对象
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: 集群名称
              clusterType:
                type: string
                description: '集群类型, 可用的类型：1_master（初级版）,2_master（高级版）,3_master（企业版）'
              groupId:
                type: integer
                format: int32
                description: 集群所在用户组，如果为空，表示集群属于当前用户，不属于任何用户组
      responses:
        '200':
          description: 正常：创建新集群成功，返回code=0及相应集群信息的 json 对象.<br> 异常：数据错误10001;集群名已存在12014;
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                    description: 新集群的 id
                  name:
                    type: string
                    description: 新集群的名称
                  created_at:
                    type: string
                    description: 新集群创建时间
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
            
  '/clusters/versions':
    get:
      summary: 获取服务的最新版本
      description: 获取服务的最新版本，包括agent,zookeeper,slave等
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的 token
          required: true
          type: string
      tags:
        - Cluster
      responses:
        '200':
          description: 正常：返回服务的最新版本.
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                description: key值为服务名，value为该服务的最新版本
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
            
  '/clusters/{cluster_id}':
    get:
      summary: 获取 id 为 cluster_id 集群的详细信息
      description: 获取 id 为 cluster_id 集群的详细信息
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群 id
          required: true
          type: integer
          format: int64
          default: 88
      responses:
        '200':
          description: 正常：包含当前集群详细信息的 json 对象.<br>异常：找不到集群12016;
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Cluster'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    put:
      summary: 更新集群设置
      description: 更新集群的设置
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群 id
          required: true
          type: integer
          format: int64
          default: 88
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                default: "cluster_name"
                description: 新的集群名称
      responses:
        '200':
          description: 正常：设置成功.<br>异常：数据错误10001;没有权限更新集群11015;
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    delete:
      summary: 删除id是 cluster_id 的集群及其节点
      description: 删除id是cluster_id 的集群及其节点
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群 id
          required: true
          type: integer
          format: int64
          default: 88
      responses:
        '200':
          description: 正常：删除集群成功.<br>异常：找不到集群ID 12016;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    patch:
      summary: 修改集群状态
      description: 修改集群状态
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群 id
          required: true
          type: integer
          format: int64
          default: 88
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              method:
                type: string
                description: 操作方法，可选值 repair(修复集群), upgrade(升级)
      responses:
        '200':
          description: 正常：操作成功.<br> 异常：数据错误10001
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/nodes':
    get:
      summary: 通过标签获取集群内主机列表
      description: 通过标签获取集群内主机列表， 注意参数label需要URL encode。
      tags:
        - Label
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: label_ids
          in: query
          description: 逗号分割的id列表， 比如： 1,3,4
          required: true
          type: string
      responses:
        '200':
          description: 正常：列出指定主机的列表.<br>异常：query_by条件不支; 数据不正确10001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  '$ref': "#/definitions/SimpleNode"
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    post:
      summary: 增加主机节点
      description: 增加主机节点
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - id
              - name
              - attributes
            properties:
              id:
                type: string
                description: '新主机节点的id。（通过/cluster/{cluster_id}/new_node_identifier接口获取）'
                default: 'fa5d189aeca64d2b90773578ec38af75'
              name:
                type: string
                description: '主机名称'
                default: '主机节点A'
              attributes:
                type: object
                description: 新主机包含的主机类型
                required:
                  - gateway
                  - proxy
                properties:
                  gateway:
                    type: boolean
                    description: 外部网关
                    default: true
                  proxy:
                    type: boolean
                    description: 内部代理
                    default: false
      responses:
        '200':
          description: 正常：操作成功.<br>异常：数据错误10001;找不到集群10017;
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    delete:
      summary: 批量删除主机
      description: 批量删除指定集群下的主机
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群id
          required: true
          type: integer
          format: int64
          default: 88
        - name: body
          in: body
          required: true
          schema:
            type: array
            description: 目标主机的id列表
            items:
              type: string
      responses:
        '200':
          description: 正常：删除主机成功.<br>异常：数据错误10001;找不到主机12018;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/new_node_identifier':
    get:
      summary: 获取新主机节点的uuid
      description: '获取指定集群的新主机uuid, 以便创建主机'
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 当前集群 id
          required: true
          type: integer
          format: int64
          default: 88
      responses:
        '200':
          description: 正常：获取主机阶段成功，返回带有主机identifier的json对象.<br>异常：找不到集群100017;
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                required:
                  - identifier
                properties:
                  identifier:
                    type: string
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/nodes/{node_id}':
    get:
      summary: 查询单个主机的信息
      description: 查询单个主机的信息
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 主机所在的集群的id
          required: true
          type: integer
          format: int64
          default: 88
        - name: node_id
          in: path
          description: 主机id
          required: true
          type: integer
          format: int64
          default: 66
      responses:
        '200':
          description: 正常：包含当前主机信息的json对象.<br>异常：主机找不到12018;
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Node'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    put:
      summary: 修改当前主机的设置
      description: 修改当前主机的设置
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 目标主机所在的集群的ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: node_id
          in: path
          description: 目标主机ID
          required: true
          type: integer
          format: int64
          default: 66
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: 主机的新名称
                default: '主机名称'
      responses:
        '200':
          description: 正常：更改主机设置成功， 返回修改后的主机信息.<br>异常：数据错误10001;找不到主机12018;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/nodes/{node_id}/metrics':
    get:
      summary: 查询主机的性能数据
      description: 查询主机的性能数据
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: node_id
          in: path
          description: 主机id
          required: true
          type: integer
          format: int64
          default: 66
      responses:
        '200':
          description: 正常：包含主机metrics 的 json 对象.<br>异常：找不到主机12018;
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  type: object
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'


  '/clusters/{cluster_id}/nodes/{node_id}/services/{service_name}':
    patch:
      summary: 改变特定服务状态
      description: 改变特定服务状态
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: node_id
          in: path
          description: 主机id
          required: true
          type: integer
          format: int64
          default: 66
        - name: service_name
          in: path
          description: 服务名  exhibitor, zookeeper, master, marathon, chronos, logcollection, slave, cadvisor
          required: true
          type: string
          default: 'exihibitor'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              method:
                type: string
                description: 操作方法，可选值 reset(重置服务)，restart(重启服务)
                default: 'reset'
      responses:
        '200':
          description: 正常：操作成功.<br>异常：数据错误10001;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/labels':
    get:
      summary: 获取标签列表
      description: 获取标签列表
      tags:
        - Label
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
      responses:
        '200':
          description: 正常：列出标签列表.
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: "#/definitions/Label"
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    post:
      summary: 预制一个标签
      description: 预制一个标签
      tags:
        - Label
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: body
          in: body
          description: 标签内容
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: 标签
                default: 'App'

      responses:
        '200':
          description: 正常：增加label成功, 返回结果为新的label列表.<br>异常：数据错误10001;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    delete:
      summary: 批量删除多个标签
      description: 批量删除多个标签
      tags:
        - Label
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: array
            description: 要删除的标签ID列表
            items:
              type: integer
              format: int64
      responses:
        '200':
          description: 正常：标签删除成功；标签不存在12001
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/nodes/labels':
    post:
      summary: 为多个主机批量设置标签
      description: 为多个主机批量设置标签
      tags:
        - Label
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: body
          in: body
          required: true
          schema:
          description: 标签名称
          required: true
          schema:
            type: object
            required:
              - nodes
              - labels
            properties:
              nodes:
                type: array
                description: 主机id列表
                items:
                  type: string
              labels:
                type: array
                description: 标签id列表
                items:
                  type: integer
                  format: int64
      responses:
        '200':
          description: 正常：批量设置标签成功.<br>异常：数据错误10001;某标签不存在12019;
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    delete:
      summary: 为多个主机批量删除标签
      description: 为多个主机批量删除标签
      tags:
        - Label
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: body
          in: body
          required: true
          schema:
          description: 标签名称
          required: true
          schema:
            type: object
            properties:
              nodes:
                type: array
                description: 主机id列表
                items:
                  type: string
              labels:
                type: array
                description: 标签id列表
                items:
                  type: integer
                  format: int32
      responses:
        '200':
          description: 正常：批量删除标签成功.<br>异常：数据错误10001;某标签不存在12001;主机不存在12018;
          schema:
            required:
              - code
            type: object
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/jobs':
    get:
      summary: 列出所有任务
      description: 列出所有任务
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
      responses:
        '200':
          description: 正常：列出所有任务成功.
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: '#/definitions/Job'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/jobs':
    get:
      summary: 列出cluster上运行所有任务
      description: 列出cluster上运行所有任务
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
      responses:
        '200':
          description: 正常：列出所有任务成功
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: '#/definitions/Job'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    post:
      summary: 创建一个docker任务
      description: 创建一个docker任务
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: body
          in: body
          description: 发布一个任务需要的参数。
          required: true
          schema:
            $ref: '#/definitions/PostJob'
      responses:
        '200':
          description: 正常：启动任务成功.<br>异常：集群不存在10017
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/jobs/{job_id}/status':
    get:
      summary: 返回单个任务状态
      description: 返回单个任务状态
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: job_id
          in: path
          description: Job唯一标识
          required: true
          type: integer
          format: int32
          default: 66
      responses:
        '200':
          description: 正常：获取单个任务状态成功.<br>异常：集群不存在10017; Job不存在13001;
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/JobStatus'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/jobs/{job_id}':
    get:
      summary: 返回单个任务详细信息
      description: 返回单个任务详细信息
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: job_id
          in: path
          description: job唯一标识
          required: true
          type: integer
          format: int32
          default: 66
      responses:
        '200':
          description: 正常：列出单个任务详细信息成功.异常：集群不存在10017; Job不存在13001;
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Job'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    delete:
      summary: 删除任务
      description: 删除任务
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: job_id
          in: path
          description: 任务名
          required: true
          type: integer
          format: int32
          default: 66
      responses:
        '200':
          description: 正常：删除任务成功.<br>异常：集群不存在10017; Job不存在13001;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    put:
      summary: 手动启动一个任务
      description: 手动启动一个任务
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: job_id
          in: path
          description: 任务名
          required: true
          type: integer
          format: int32
          default: 66
      responses:
        '200':
          description: 正常：启动任务成功.<br>异常：集群不存在10017; Job不存在13001;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/jobs/{job_id}/tasks':
    delete:
      summary: 删除cluster下某个任务的所有tasks
      description: 删除cluster下某个任务的所有tasks
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: job_id
          in: path
          description: job标识
          required: true
          type: integer
          format: int32
          default: 66
      responses:
        '200':
          description: 正常：删除任务成功.<br>异常：集群不存在10017; Job不存在13001;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/apps':
    get:
      summary: 请求用户所有的apps
      description: 请求用户所有的apps列表
      tags:
        - App
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: page
          in: query
          description: apps页数，第1页，第2页...
          required: false
          type: integer
          format: int32
        - name: per_page
          in: query
          description: 每页有多少条记录
          required: false
          type: integer
          format: int32
        - name: keywords
          in: query
          description: 搜索关键词，匹配应用名称
          required: false
          type: string
        - name: sort_by
          in: query
          description: 排序字段, 可选值包含instances, name, updated
          required: false
          type: string
        - name: order
          in: query
          description: sort顺序, 可选值包括asc, desc
          required: false
          type: string
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017，数据异常10001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: '#/definitions/App'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/apps':
    get:
      summary: 根据条件请求获得cluster_id下所有apps列表
      description: 根据条件请求获得cluster_id下所有apps列表
      tags:
        - App
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: page
          in: query
          description: apps页数，第1页，第2页...
          required: false
          type: integer
          format: int32
          default: 1
        - name: per_page
          in: query
          description: 每页有多少条记录
          required: false
          type: integer
          format: int32
          default: 25
        - name: keywords
          in: query
          description: 搜索关键词，匹配应用名称
          required: false
          type: string
          default: 'search'
        - name: sort_by
          in: query
          description: 排序字段, 可选值包含container_num, app_name, last_update
          required: false
          type: string
          default: 'container_num'
        - name: order
          in: query
          description: sort顺序, 可选值包括asc, desc
          required: false
          type: string
          default: 'asc'
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017，数据异常10001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: '#/definitions/App'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    post:
      summary: cluster里面创建部署一个app
      description: cluster里面创建部署一个app
      tags:
        - App
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: body
          in: body
          description: 创建app的配置参数
          required: true
          schema:
            $ref: '#/definitions/AppRequest'
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017，数据异常10001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/App'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/apps/{app_id}':
    get:
      summary: 通过cluster_id和app_id获取一个app
      description: 通过cluster_id和app_id获取一个app
      tags:
        - App
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: app_id
          in: path
          description: 应用Id
          required: true
          type: integer
          format: int64
          default: 66
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/App'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    put:
      summary: 修改某个app
      description: 修改某个app
      tags:
        - App
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: app_id
          in: path
          description: 应用ID
          required: true
          type: integer
          format: int64
          default: 66
        - name: body
          in: body
          description: 创建app的配置参数
          required: true
          schema:
            $ref: '#/definitions/AppRequest'
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    patch:
      summary: 通过cluster_id和app_id更新一个app的状态
      description: 通过cluster_id和app_id更新一个app的状态， 可能操作包含回滚(rollback)，停止(stop)，启动(start)， 更新版本(update_version)， 终止部署(stop_deploy)，终止扩展(stop_scaling)，更新实例数量(scale)，重新部署应用(redeploy)
      tags:
        - App
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: app_id
          in: path
          description: 应用Id
          required: true
          type: integer
          format: int64
          default: 66
        - name: body
          in: body
          required: true
          description: 请求参数，method为必须参数，标识操作动作， 其余为辅助参数
          schema:
            type: object
            properties:
              method:
                type: string
                description: 操作方法，可选值 stop, start, update_version, stop_deploy, stop_scaling, update_instances
                default: 'stop'
              instances:
                type: integer
                description: 新的实例个数， method是update_instances时适用
                default: 2
              versionId:
                type: integer
                description: 新的App版本，method 是update_version时适用
                default: 12
      responses:
        '200':
          description: 正常：返回成功, api返回结果不代表操作成功， 只能表示数人云收到请求，准备处理请求。<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    delete:
      summary: 通过cluster_id和app_id查找并且删除一个app
      description: 通过cluster_id和app_id查找并且删除一个app
      tags:
        - App
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: app_id
          in: path
          description: 应用Id
          required: true
          type: integer
          format: int64
          default: 66
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'


  '/clusters/{cluster_id}/apps/{app_id}/events':
    get:
      summary:    获取某一app对应的操作日志
      description: 获取某一app的对应的操作日志
      tags:
        - App
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: app_id
          in: path
          description: 应用Id
          required: true
          type: integer
          format: int64
          default: 66
        - name: page
          in: query
          description: 数字，第几页，默认为1
          required: false
          type: integer
          format: int64
          default: 1
        - name: per_page
          in: query
          description: 数字，每页多少条记录，默认为50
          required: false
          type: integer
          format: int64
          default: 25
        - name: begin_time
          in: query
          description: 数字，unix时间戳，记录开始时间，如：1456201016
          required: false
          type: string
          default: '1456201016'
        - name: end_time
          in: query
          description: 数字，unix时间戳，记录开始时间，如：1456201016
          required: false
          type: string
          default: '1456201016'
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                description: marathon events
                items:
                  type: string
                  description: event消息
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/apps/{app_id}/tasks':
    get:
      summary: 获取应用运行中实例
      description: 获取应用运行实例
      tags:
        - App
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群Id
          required: true
          type: integer
          default: 88
        - name: app_id
          in: path
          description: 应用Id
          required: true
          type: integer
          default: 66
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
                default: 10001
              data:
                type: array
                items:
                  $ref: '#/definitions/Task'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/apps/{app_id}/versions':
    get:
      summary:    获取某一app对应的历史版本
      description: 获取某一app的对应的历史版本
      tags:
        - App
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: app_id
          in: path
          description: 应用Id
          required: true
          type: integer
          format: int64
          default: 66
        - name: page
          in: query
          description: 数字，第几页，默认为1
          required: false
          type: integer
          default: 1
        - name: per_page
          in: query
          description: 数字，每页多少条记录，默认为50
          required: false
          type: integer
          default: 25
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  type: object
                  required:
                    - versionID
                    - versionName
                    - isCurrent
                    - status
                    - updated
                  properties:
                    versionID:
                      type: string
                      description: version版本
                    versionName:
                      type: string
                      description: 版本名称
                    isCurrent:
                      type: integer
                      format: unit8
                      description: 是否当前部署版本 是 => 1; 否 => 0
                    status:
                      type: integer
                      format: unit8
                      description: 部署状态 当前版本可用 => 1; 不可用 => 0
                    updated:
                      type: integer
                      format: int64
                      description: 当前版本上次的部署时间
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/apps/{app_id}/versions/{version_id}':
    delete:
      summary:    删除应用的某一个版本
      description: 删除应用的某一个版本
      tags:
        - App
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int64
          default: 88
        - name: app_id
          in: path
          description: 应用Id
          required: true
          type: integer
          format: int64
          default: 66
        - name: version_id
          in: path
          description: 版本ID
          required: true
          type: integer
          format: int64
          default: 20
      responses:
        '200':
          description: 正常：删除成功.<br>异常：集群不存在10017;数据异常10001;应用不存在14001;版本不存在14002;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/projects':
    post:
      summary: 创建一个项目
      description: 创建一个项目
      tags:
        - Project
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProjectRequest'
      responses:
        '200':
          description: 正常：返回成功
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/ProjectResponse'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    get:
      summary: 列出用户所有项目
      description: 列出用户所有项目
      tags:
        - Project
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
      responses:
        '200':
          description: 正常： 返回成功.
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: '#/definitions/ProjectResponse'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/projects/{project_id}':
    get:
      summary: 列出一个项目
      description: 列出一个项目
      tags:
        - Project
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: project_id
          in: path
          description: 项目ID
          required: true
          type: integer
          format: int32
          default: 88
      responses:
        '200':
          description: 正常：返回成功
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/ProjectResponse'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    put:
      summary: 更新一个项目
      description: 更新一个项目
      tags:
        - Project
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: project_id
          in: path
          description: 项目ID
          required: true
          type: integer
          format: int32
          default: 88
        - name: body
          in: body
          description: 更新参数
          required: true
          schema:
            $ref: '#/definitions/ProjectUpdateRequest'
      responses:
        '200':
          description: 正常：返回成功
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/ProjectUpdateRequest'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    delete:
      summary: 删除一个项目
      description: 删除一个项目
      tags:
        - Project
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: project_id
          in: path
          description: 项目ID
          required: true
          type: integer
          format: int32
          default: 88
      responses:
        '200':
          description: 正常：返回成功
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/projects/{project_id}/builds':
    get:
      summary: 列出一个项目的所有构建版本
      description: 列出一个项目的所有构建版本
      tags:
        - Project
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: project_id
          in: path
          description: 项目ID
          required: true
          type: integer
          format: int32
          default: 88
      responses:
        '200':
          description: 正常：返回成功
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: '#/definitions/BuildResponse'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/projects/{project_id}/builds/{buildNumber}/{jobId}/logs':
    get:
      summary: 获取镜像构建日志
      description: 获取镜像构建日志
      tags:
        - Project
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: project_id
          in: path
          description: 项目ID
          required: true
          type: integer
          format: int32
          default: 88
        - name: buildNumber
          in: path
          description: 构建编号
          required: true
          type: integer
          format: int32
          default: 88
        - name: jobId
          in: path
          description: 构建编号
          required: true
          type: integer
          format: int32
          default: 88
      responses:
        '200':
          description: 正常：返回成功
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: string
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/projects/{project_id}/builds/{buildNumber}/{jobId}/stream':
    get:
      summary: 获取镜像构建实时日志，返回结果为日志文本流， SSE协议。
      description: 获取镜像构建实时日志，此API非HTTP协议，而是SSE协议，http://www.w3schools.com/html/html5_serversentevents.asp
      tags:
        - Project
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: project_id
          in: path
          description: 项目ID
          required: true
          type: integer
          format: int32
          default: 88
        - name: buildNumber
          in: path
          description: 构建编号
          required: true
          type: integer
          format: int32
          default: 88
        - name: jobId
          in: path
          description: 构建编号
          required: true
          type: integer
          format: int32
          default: 88
      responses:
        '200':
          description: 正常：返回成功
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
        '404':
          description: 没有找到相应实时日志， 可轮询重试，参数number是构建job的id，只有构建时存在。

  '/groups':
    get:
      summary: 获取用户组列表
      description: 获取当前登录用户相关的用户组列表
      tags:
        - Group
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: page
          in: query
          description: group页数，第1页，第2页...
          required: false
          type: integer
          format: int64
          default: 1
        - name: per_page
          in: query
          description: 每页有多少条记录
          required: false
          type: integer
          format: int64
          default: 25
        - name: sort_by
          in: query
          description: 排序字段, 可选值包含name, created_at
          required: false
          type: string
          default: 'name'
        - name: order
          in: query
          description: sort顺序, 可选值包括asc, desc
          required: false
          type: string
          default: 'asc'
      responses:
        '200':
          description: 正常：列出标签列表.<br>异常：数据异常10001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                properties:
                  total:
                    description: 用户组总数
                    type: integer
                  groups:
                    type: array
                    items:
                      $ref: "#/definitions/Group"
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    post:
      summary: 新建用户组
      description: 新建用户组
      tags:
        - Group
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: body
          in: body
          description: 用户组内容
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: 用户组名称
              description:
                type: string
                description: 用户组简介
      responses:
        '200':
          description: 正常：增加用户组成功.<br>异常：数据错误10001;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/groups/{group_id}':
    delete:
      summary: 删除用户组
      description: 管理员删除用户组
      tags:
        - Group
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: group_id
          in: path
          description: 用户组Id
          required: true
          type: integer
          format: int64
          default: 88
      responses:
        '200':
          description: 正常：删除用户组成功
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/groups/{group_id}/mymemberships':
    delete:
      summary: 离开用户组
      description: 成员离开用户组
      tags:
        - Group
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: group_id
          in: path
          description: 用户组Id
          required: true
          type: integer
          format: int64
          default: 88
      responses:
        '200':
          description: 正常：离开用户组成功
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/groups/{group_id}/memberships':
    get:
      summary: 获取用户组成员
      description:  管理员获取用户组成员
      tags:
        - Group
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: group_id
          in: path
          description: 用户组Id
          required: true
          type: integer
          format: int64
          default: 88
      responses:
        '200':
          description: 正常：列出用户组成员列表.<br>异常：数据异常10001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  type: object
                  properties:
                    user:
                      type: object
                      properties:
                        email:
                          description: 成员email
                          type: string
                        id:
                          description: 成员id
                          type: integer
                          format: int32
                    created_at:
                      description: 成员加入用户组时间
                      type: string
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    post:
      summary: 发送邀请邮件
      description: 管理员发送邀请邮件
      tags:
        - Group
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: group_id
          in: path
          description: 用户组Id
          required: true
          type: integer
          format: int64
          default: 88
        - name: body
          in: body
          description: 邮箱列表
          required: true
          schema:
            type: object
            properties:
              emails:
                type: array
                items:
                  type: string
                description: 邮箱列表，必须是已在平台注册的邮箱
      responses:
        '200':
          description: 正常：邀请成功. 返回未在平台注册的邮箱
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  type: string
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    delete:
      summary: 删除用户组成员
      description: 管理员删除用户组成员
      tags:
        - Group
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: group_id
          in: path
          description: 用户组Id
          required: true
          type: integer
          format: int64
          default: 88
        - name: body
          in: body
          description: 用户组内容
          required: true
          schema:
            type: object
            properties:
              users:
                type: array
                items:
                  type: integer
                  format: int64
                description: 成员ID列表
      responses:
        '200':
          description: 正常：删除用户组成员成功
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/groups/activation/{active_code}':
    put:
      summary: 被邀请用户确认加入用户组
      description: 如果激活码有效，被邀请用户确认加入用户组; 如果激活码无效，返回错误码及相应的错误信息
      produces:
        - application/json
        - text/html
      tags:
        - Group
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: active_code
          in: path
          description: 用户邮箱收到的激活码(激活码是用户邮箱收到的激活链接的最后一段字符串)
          required: true
          type: string
      responses:
        '200':
          description: 正常：加入成功，返回 code=0 的 json 对象.<br> 异常：数据错误10001;激活失败11010
          schema:
            $ref: '#/definitions/RespJSON'

  '/repositories':
    get:
      summary: 返回系统repo列表
      description: 返回系统repo列表
      tags:
        - Repo
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: q
          in: query
          description: 搜索关键字
          type: string
          default: 'nginx'
        - name: category
          in: query
          description: 分类
          type: string
          default: '基础镜像'
      responses:
        '200':
          description: 正常：离开用户组成功
          schema:
            type: array
            items:
              $ref: "#/definitions/RepositoryLite"
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/repositories/{project_name}/{repository_name}':
    get:
      summary: 得到单独repo详情
      description: 得到单独repo详情
      tags:
        - Repo
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: project_name
          in: path
          description: project_name
          required: true
          type: string
          default: 'library'
        - name: repository_name
          in: path
          description: repo 名称
          required: true
          type: string
          default: 'nginx'

      responses:
        '200':
          description: 正常：离开用户组成功
          schema:
            type: array
            items:
              $ref: "#/definitions/Repository"

        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    put:
      summary: 修改repo分类，描述
      description: 得到单独repo详情
      tags:
        - Repo
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: project_name
          in: path
          description: project_name
          required: true
          type: string
          default: 'library'
        - name: repository_name
          in: path
          description: repo 名称
          required: true
          type: string
          default: 'nginx'
        - name: body
          in: body
          description: 修改repo的分类或者详情
          required: true
          schema:
            type: object
            properties:
              category:
                type: string
                description: 分类名称
              description:
                type: string
                description: 'repo描述'
              isPublic:
                type:bool:
                description: '是否公开'

      responses:
        '200':
          description: 正常：离开用户组成功
          schema:
            type: array
            items:
              $ref: "#/definitions/Repository"

        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/repositories/{project_name}/{repository_name}/tags':
    get:
      summary: 得到repo的标签
      description: 得到repo的标签
      tags:
        - Repo
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: project_name
          in: path
          description: project_name
          required: true
          type: string
          default: 'library'
        - name: repository_name
          in: path
          description: repo 名称
          required: true
          type: string
          default: 'nginx'

      responses:
        '200':
          description: 正常：离开用户组成功
          schema:
            type: array
            items:
              $ref: "#/definitions/RepositoryTag"

        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/repositories/categories':
    get:
      summary: repo的分类列表
      description: repo的分类列表
      tags:
        - Repo
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
      responses:
        '200':
          description: 正常：结果返回正常
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                  default: '基础镜像'
                position:
                  type: integer
                  default: 1
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

definitions:
  TokenNotValid:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: 错误码，token验证失败为10002
  Auth:
    type: object
    properties:
      email:
        type: string
        description: 用户的 email
      password:
        type: string
        description: Display name of product.
  Token:
    type: object
    required:
      - code
      - data
    properties:
      code:
        type: integer
        format: int32
      data:
        type: object
        required:
          - token
        properties:
          token:
            type: string
            description: 用户登录凭证
  RespJSON:
    type: object
    required:
      - code
      - data
    properties:
      code:
        type: integer
        format: int32
      data:
        type: object
        properties:
          fields:
            type: string
  Registration:
    type: object
    properties:
      email:
        type: string
        default: 'admin@shurenyun.com'
      password:
        type: string
        description: Display name of product.
      company:
        type: string
        default: 'shurenyun'
      wechat_qq:
        type: string
        default: '358631229'
      phone_number:
        type: string
        default: '136xxxxxxx'
  Activation:
    type: object
    properties:
      email:
        type: string
        default: 'admin@shurenyun.com'
  PasswordResetURL:
    type: object
    properties:
      email:
        type: string
        default: 'admin@shurenyun.com'
  PasswordReset:
    type: object
    properties:
      new_password:
        type: string
      new_password_compare:
        type: string
  User:
    type: object
    required:
      - code
      - data
    properties:
      code:
        type: integer
        format: int32
      data:
        type: object
        required:
          - userId
          - userName
          - isSuperuser
        properties:
          userId:
            type: integer
            default: 10
          userName:
            type: string
            default: 'foobar'
          isSuperuser:
            type: boolean
            default: false
  UserPassword:
    type: object
    properties:
      old_password:
        type: string
      new_password:
        type: string
      new_password_compare:
        type: string
  Cluster:
    description: 集群信息
    type: object
    required:
      - id
      - name
      - status
      - cluster_type
      - nodes
    properties:
      id:
        type: integer
        format: int32
        description: 集群id
        default: 88
      name:
        type: string
        description: 集群名称
        default: 'cluster_name'
      status:
        type: string
        description: 集群状态
      group_name:
        type: string
        description: 集群所在组名
      group_id:
        type: integer
        format: int32
        description: 集群所在组id
      created_at:
        type: string
        description: 集群创建时间
      cluster_type:
        type: string
        description: '集群类型(1_master, 3_masters, 5_masters)'
      updated_at:
        type:
          - string
          - "null"
        description: 集群最近一次修改时间（包括状态变更）
      nodes:
        description: 集群下的所有主机
        type: array
        items:
          type: object
          required:
            - id
            - name
            - status
            - ip
            - role
            - agent_version
            - attributes
            - services
          properties:
            id:
              description: 主机id
              type: string
            name:
              description: 主机名称
              type: string
            status:
              description: 主机状态
              type: string
            ip:
              description: 主机ip
              type: string
            role:
              description: '主机角色（master, slave）'
              type:
                - string
                - "null"
            created_at:
              description: 主机加入时间
            updated_at:
              type:
                - string
                - "null"
              description: 主机最近一次修改时间（包括状态变更）
              type: string
            agent_version:
              description: agent的版本号
              type: string
            attributes:
              description: 主机包含的类型
              type: array
              items:
                type: object
                properties:
                  attribute:
                    description: '类型名称(transient, gateway, proxy, persistent)'
                    type: string
            services:
              description: 主机上的服务
              type: array
              items:
                type: object
                properties:
                  name:
                    description: 服务名称
                    type: string
                  status:
                    description: 服务状态
                    type: string
            node_labels:
              description: 主机上的标签
              type: array
              items:
                type: object
                properties:
                  id:
                    description: 标签id
                    type: integer
                  name:
                    description: 标签名
                    type: string
  Node:
    description: 主机信息
    type: object
    required:
      - cluster
      - id
      - role
      - name
      - status
      - ip
      - services
      - attributes

    properties:
      cluster:
        description: 主机所在的集群信息
        type: object
        properties:
          id:
            description: 集群id
            type: integer
            format: int32
          name:
            description: 集群名称
            type: string
          cluster_type:
            description: 集群类型
            type: string
      id:
        description: 主机id
        type: string
      role:
        description: '主机角色（master, slave）'
        type:
          - string
          - "null"
      name:
        description: 主机名称
        type: string
      status:
        description: 主机状态
        type: string
      created_at:
        description: 主机创建时间
        type: string
      ip:
        description: 主机ip
        type: string
      updated_at:
        description: 主机最近一次修改时间（包括状态变更）
        type:
          - string
          - "null"
      services:
        description: 主机下的服务
        type: array
        items:
          type: object
          properties:
            name:
              description: 服务名称
              type: string
            status:
              description: 服务状态
              type: string
      attributes:
        description: 主机包含的类型
        type: array
        items:
          type: object
          properties:
            attribute:
              description: 类型名称
              type: string

  SimpleNode:
    description: 主机信息
    type: object
    required:
      - id
      - role
      - name
      - ip

    properties:
      id:
        description: 主机id
        type: string
      role:
        description: '主机角色（master, slave）'
        type:
          - string
          - "null"
      name:
        description: 主机名称
        type: string
      created_at:
        description: 主机创建时间
        type: string
      ip:
        description: 主机ip
        type: string
      updated_at:
        description: 主机最近一次修改时间（包括状态变更）
        type:
          - string
          - "null"

  Label:
    type: object
    properties:
      id:
        description: 标签ID
        type: integer
      name:
        description: 标签名称
        type: string
  PostJob:
    description: 任务部署参数
    type: object
    properties:
      name:
        description: 任务名
        type: string
      imageURI:
        description: 镜像地址
        type: string
      imageversion:
        description: 版本
        type: string
      cpu:
        description: cpu
        type: number
        format: float
      mem:
        description: 内存
        type: integer
        format: int32
      owner:
        description: 用户邮箱
        type: string
      ownerName:
        description: 用户名
        type: string
      schedule:
        description: 执行计划(选填，当发布依赖job时不填)
        type: string
      command:
        description: 命令
        type: string
      parents:
        description: 依赖
        type: array
        items:
          type: string
      volumes:
        description: 挂载点
        type: array
        items:
          type: object
          properties:
            hostPath:
              description: 宿主机路径
              type: string
            containerPath:
              description: 容器路径
              type: string
      constraints:
        description: 限制
        type: array
        items:
          type: array
          description: 限制
          items:
            type: string
  Job:
    description: 任务信息
    type: object
    properties:
      name:
        description: 名称
        type: string
      command:
        description: 命令
        type: string
      owner:
        description: 拥有者邮箱
        type: string
      ownerName:
        description: 拥有者姓名
        type: string
      cpu:
        description: cpu大小
        type: number
        format: float
      mem:
        description: 内存大小
        type: integer
        format: int32
      disk:
        description: 存储
        type: integer
        format: int32
      uris:
        description: 存储地址
        type: string
      container:
        description: 容器
        type: object
        properties:
          type:
            description: 容器类型
            type: string
          image:
            description: 镜像地址
            type: string
          network:
            description: 网络模式
            type: string
          volumes:
            description: 挂载点
            type: array
            items:
              type: object
              properties:
                hostPath:
                  description: 宿主机路径
                  type: string
                containerPath:
                  description: 容器路径
                  type: string
                mode:
                  description: 读写模式
                  type: string
      async:
        description: 同步
        type: boolean
      successCount:
        description: 成功次数
        type: integer
        format: int32
      errorCount:
        description: 出错次数
        type: integer
        format: int32
      lastSuccess:
        description: 上一次成功的时间
        type: string
      lastError:
        description: 上一次失败的时间
        type: string
      epsilon:
        description: 间隔
        type: string
      parents:
        description: 依赖任务
        type: array
        items:
          type: string
      schedule:
        description: 执行计划
        type: string
  JobStatus:
    description: 任务状态
    type: object
    properties:
      name:
        description: job名称
        type: string
      last:
        description: 上一次job运行状态
        type: string
      now:
        description: 当前状态
        type: string

  App:
    description: App
    type: object
    required:
      - id
      - name
      - cid
      - instances
      - imageName
      - imageVersion
      - network
      - cpus
      - mem
    properties:
      id:
        description: app id
        type: integer
        format: int64
      name:
        description: app名称
        type: string
      cid:
        description: app属于哪一个集群
        type: integer
        format: int64
      instances:
        description: app预计运行实例数
        type: integer
        format: int64
      tasks:
        description: 实际运行task数量
        type: integer
        format: int64
      cpus:
        description: Cpu 大小(例如:1 -->1 CPU )
        type: string
      mem:
        description: 内存 大小(例如:1 -->512 MB )
        type: string
      cmd:
        description: 运行命令
        type: string
      envs:
        description: 环境变量(可选项,Key:Value.用户不填就没有)
        type: array
        items:
          type: object
          properties:
            key:
              type: string
              description: 环境变量key
            value:
              type: string
              description: 环境变量value
      imageName:
        description: 镜像名称
        type: string
      imageVersion:
        description: 镜像版本
        type: string
      forceImage:
        description: 是否强制拉取镜像
        type: boolean
      network:
        description: 网络模式 "BRIDGE":网桥 "host":HOST模式
        type: string
      volumes:
        description: 容器Volumn配置
        type: array
        items:
          type: object
          properties:
            hostPath:
              type: string
              description: 宿主机器文件路径
            containerPath:
              type: string
              description: 容器内部文件路径
      ports:
        description: 容器ports配置
        type: array
        items:
          type: object
          required:
            - appPort
            - protocol
            - isUri
            - type
            - mapPort
            - uri
          properties:
            appPort:
              type: integer
              description: 容器内部app端口
            protocol:
              description: '端口协议 1: tcp 2: http'
              type: integer
            isUri:
              description: '是否包含域名 1: 有域名, 2: 无域名'
              type: integer
            'type':
              description: '对内还是对外 1: 对内, 2:对外'
              type: integer
            mapPort:
              description: 映射端口
              type: integer
            uri:
              description: 域名
              type: string
      constraints:
        description: 约束
        type: array
        items:
          type: array
          items:
            type: string
      logPaths:
        description: 应用对应的需要收集的log文件
        type: array
        items:
          type: string
          description: log文件绝对路径
  AppRequest:
    description: App
    type: object
    properties:
      name:
        description: 应用名称
        type: string
        default: 'app name'
      instances:
        description: app预计运行实例数
        type: integer
        format: int64
        default: 2
      volumes:
        description: 容器Volumn配置
        type: array
        items:
          type: object
          properties:
            hostPath:
              type: string
              description: 宿主机器文件路径
              default: '/var/host/path'
            containerPath:
              type: string
              description: 容器内部文件路径
              default: '/var/container/path'
      portMappings:
        description: 容器ports配置
        type: array
        items:
          type: object
          properties:
            appPort:
              type: integer
              description: 容器内部app端口
              default: 80
            protocol:
              type: integer
              description: '端口协议 1 tcp 2 http协议'
              default: 1
            isUri:
              type: integer
              description: '是否包含域名 1: 有域名, 2: 无域名'
              default: 1
            type:
              type: integer
              description: '对内还是对外 1: 对内, 2:对外'
              default: 1
            mapPort:
              type: integer
              description: 映射端口
              default: 8080
            uri:
              description: 域名
              type: string
              default: 'shurenyun.com'
      cpus:
        description: Cpu 大小(例如:1 -->1 CPU )
        type: number
        format: float
        default: 4
      mem:
        description: 内存 大小(例如:1 -->512 MB )
        type: integer
        format: int64
        default: 512
      cmd:
        description: 运行命令
        type: string
        default: 'echo "shurenyun awesome!"'
      envs:
        description: 环境变量(可选项,Key:Value.用户不填就没有)
        type: array
        items:
          type: object
          properties:
            key:
              type: string
              description: 环境变量key
              default: 'Foo'
            value:
              type: string
              description: 环境变量value
              default: 'bar'
      imageName:
        description: 镜像地址
        type: string
        default: 'registry.shurenyun.com/library:2048'
      imageVersion:
        description: 镜像版本
        type: string
        default: 'v0.1'
      forceImage:
        description: 是否强制拉取镜像
        type: boolean
        default: true
      network:
        description: 网络模式 "BRIDGE":网桥 "host":HOST模式
        type: string
        default: 'BRIDGE'
      constraints:
        description: 约束
        type: array
        items:
          type: array
          items:
            type: string
  ProjectRequest:
    description: 项目构建
    type: object
    properties:
      uid:
        description: 用户ID
        type: integer
        format: int32
        default: 88
      period:
        description: 构建间隔
        type: integer
        format: int32
        default: 10
      name:
        description: 名称
        type: string
        default: 'Build Foo'
      imageName:
        description: 镜像名称
        type: string
        default: 'registry.shurenyun.com/library:2048'
      description:
        description: 描述
        type: string
        default: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
      branch:
        description: 分支
        type: string
        default: 'master'
      repoUri:
        description: 仓库地址
        type: string
        default: 'git@github.com:foo/bar.git'
      triggerType:
        description: 构建触发类型
        type: integer
        format: int32
      active:
        description: 构建触发是否可用
        type: boolean
        default: true
  ProjectUpdateRequest:
    description: 项目更新
    type: object
    properties:
      uid: 
        description: 用户ID
        type: integer
        format: int32
        default: 88
      triggerType: 
        description: 构建触发类型 1 tag; 2 push; 3 both
        type: integer
        format: int32
        default: 1
      Active: 
        description: 构建触发是否可用
        type: boolean
        default: true 
      period:
        description: 构建间隔
        type: integer
        format: int32
        default: 10
  ProjectResponse:
    description: 项目构建
    type: object
    properties:
      uid:
        description: 用户ID
        type: integer
        format: int32
      id:
        description: ID
        type: integer
        format: int32
      period:
        description: 构建间隔
        type: integer
        format: int32
      name:
        description: 项目名称
        type: string
      imageName:
        description: 镜像名称
        type: string
      description:
        description: 描述
        type: string
      branch:
        description: 分支
        type: string
      pubKey:
        description: 部署公钥
        type: string
      repoUri:
        description: 仓库地址
        type: string
      branch:
        description: 分支
        type: string
      status:
        description: 描述
        type: string
      image: 
        description: 构建完成的image地址
        type: string
      active:
        description: 构建触发是否可用
        type: boolean
      triggerType:
        description: 构建触发类型
        type: integer
        format: int32
      latestImage:
        description: 最新镜像
        type: string
      created: 
        description: 构建时间
        type: integer
        format: int64
      updated: 
        description: 构建时间
        type: integer
        format: int64
  BuildResponse:
    description: 构建的版本
    type: object
    properties:
      id:
        description: ID
        type: integer
        format: int32
      number:
        description: 构建编号
        type: integer
        format: int64
      event: 
        description: 事件
        type: string
      status:
        description: 状态
        type: string
      timestamp:
        description: 时间
        type: integer
        format: int64
      commit: 
        description: 提交
        type: string
      branch: 
        description: 分支
        type: string
      image:
        description: 镜像地址
  Task:
    description: 单个实例信息
    type: object
    required:
      - taskId
      - taskStatus
      - startTime
    properties:
      taskId:
        description: task id
        type: string
      taskStatus:
        description: 实例状态
        type: integer
        format: uint8
      startTime:
        description: 启动时间
        type: string

  Group:
    description: 单个用户组
    type: object
    required:
      - id
      - name
      - created_at
      - description
      - role
      - owner
    properties:
      id:
        description: 用户组ID
        type: integer
      name:
        description: 用户组名称
        type: string
      created_at:
        description: 用户组创建时间
        type: string
      description:
        description: 用户组介绍
        type: string
      role:
        type: object
        properties:
          id:
            description: 角色ID
            type: integer
          name:
            description: 角色名称
            type: string
      owner:
        type: object
        properties:
          id:
            description: 用户组拥有者ID
            type: integer
          email:
            description: 用户组拥有者Email
            type: string
          user_count:
            description: 用户组成员数量
            type: integer

  Repository:
    description: repo
    type: object
    required:
      - name
      - url
      - description
      - project_name
      - icon
      - latest_tag
      - readme
      - sry_compose
    properties:
      name:
        description: repo的名称
        type: string
        default: hello-world
      url:
        description: docker pull的地址， 不包括tag部分
        type: string
        default: registry.shurenyun.com/library/hello-world
      description:
        description: repo的简短描述， 一般为一行
        type: string
        default: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
      project_name:
        description: namepsace， 对应系统中project的名称，根据用户uid拼接成，系统默认library
        type: string
        default: 'library'
      icon:
        description: project 对应的icon
        type: string
        default: 'library/nginx.png'
      readme:
        description: repo的描述文档，markdown形式
        type: string
      sry_compose:
        description: repo的sry_compose.yml
        type: string
      category_name:
        description: 分类名称
        type: string
      latest_tag:
        description: 最新tag
        type: string
        default: 'latest'

  RepositoryLite:
    description: repo
    type: object
    required:
      - name
      - url
      - description
      - project_name
      - icon
      - latest_tag
    properties:
      name:
        description: repo的名称
        type: string
        default: hello-world
      url:
[...]
