swagger: '2.0'
info:
  title: shurenyun API
  description: "数人云 API 文档"
  version: "3"
host: api.shurenyun.com
schemes:
  - https
basePath: /api/v3
produces:
  - application/json

paths:
  /auth:
    post:
      summary: 验证用户名密码是否匹配并获取登录 token，如果错误则返回HTTP status code 401.
      description: 向服务器发送当前用户的 email 及密码，若验证通过，返回当前用户的登录 token; 否则，返回错误码及相应的错误信息
      parameters:
        - name: body
          in: body
          description: 带有当前用户的注册邮箱和密码的 json 数据。
          required: true
          schema:
            $ref: '#/definitions/Auth'
      tags:
        - Auth
      responses:
        '200':
          description: 若登录成功则返回当前用户的token, HTTP status code 401
          schema:
            $ref: '#/definitions/Token'
        '401':
          description: 登录失败，返回HTTP status code 401, Body中的code分别为：数据错误10001;用户不存在11004;密码错误11006;非激活用户登录11005
          schema:
            $ref: '#/definitions/TokenNotValid'

    get:
      summary: 验证用户的 token 是否有效
      description: 请求验证当前用户的 token。若验证通过，返回code=0；验证失败，返回错误码及相应的错误信息
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的登录 token
          required: true
          type: string
      tags:
        - Auth
      responses:
        '200':
          description: 正常：验证的Authorization token存在且有效. <br>异常：验证错误11007
          schema:
            $ref: '#/definitions/Token'

    delete:
      summary: 用户登出并删除登录 token
      description: 请求删除用户的登录 token, 若删除成功， 返回code=0；否则, 返回错误码及相应的错误信息
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的登录 token
          required: true
          type: string
      tags:
        - Auth
      responses:
        '200':
          description: 正常：验证的 Authorization token 存在且有效,用户成功登出系统.
          schema:
            $ref: '#/definitions/Token'
        '401':
          description: 异常：验证token失败10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  /auth/user/registration:
    post:
      summary: 新用户注册并发送激活邮件到注册邮箱
      description: 注册成功后异步发送激活邮件到注册邮箱, 并立即返回code=0; 注册失败，返回错误码及相应的错误信息
      parameters:
        - name: body
          in: body
          description: '包涵用户注册信息如 email, password, company 等的 json 数据。'
          required: true
          schema:
            $ref: '#/definitions/Registration'
      produces:
        - application/json
        - text/html
      tags:
        - Auth
      responses:
        '200':
          description: 正常：注册成功，返回code=0的json 数据。 <br>异常：用户已存在11003; 错误的字段10001; 错误的Json格式10008
          schema:
            $ref: '#/definitions/RespJSON'

  /auth/user/activation:
    post:
      summary: 重新发送激活邮件到用户的邮箱
      description: 发送邮件到未激活的用户邮箱；如果用户已激活，返回异常，不发送邮件; 如果用户不存在，返回错误码及相应的错误信息
      parameters:
        - name: body
          in: body
          description: 带有用户邮箱的Json字符串
          required: true
          schema:
            $ref: '#/definitions/Activation'
      tags:
        - Auth
      responses:
        '200':
          description: 正常：激活邮件发送成功. <br>异常：数据错误10001;用户不存在11004;用户已激活11009
          schema:
            $ref: '#/definitions/RespJSON'

  '/auth/user/activation/{activate_code}':
    put:
      summary: 激活用户并且发送欢迎邮件到用户邮箱
      description: 如果激活码有效，激活用户并发送欢迎邮件; 如果激活码无效，返回错误码及相应的错误信息
      produces:
        - application/json
        - text/html
      parameters:
        - name: activate_code
          in: path
          description: 用户邮箱收到的激活码(激活码是用户邮箱收到的激活链接的最后一段字符串)
          required: true
          type: string
      tags:
        - Auth
      responses:
        '200':
          description: 正常：激活成功，返回 code=0 的 json 对象.<br> 异常：数据错误10001;激活失败11010
          schema:
            $ref: '#/definitions/RespJSON'

  /auth/password/reseturl:
    post:
      summary: 发送密码重置邮件到用户邮箱
      description: 如果用户存在，发送密码重置链接到用户邮箱；如果用户不存在，返回错误码及相应的错误信息
      parameters:
        - name: body
          in: body
          description: 包含用户邮箱的 json 对象
          required: true
          schema:
            $ref: '#/definitions/PasswordResetURL'
      tags:
        - Auth
      responses:
        '200':
          description: 正常：发送邮件到邮箱，并返回code=0的 json 对象. <br>异常：数据错误10001;邮箱地址未被注册11011
          schema:
            $ref: '#/definitions/RespJSON'

  '/auth/password/{reset_code}':
    get:
      summary: 检查密码重置码有效性
      description: 密码重置码有效，返回code=0；密码重置码无效，返回错误码及相应的错误信息
      parameters:
        - name: reset_code
          in: path
          description: 密码重置码
          required: true
          type: string
      tags:
        - Auth
      responses:
        '200':
          description: 正常：密码重置码有效, 返回code=0的 json 对象.<br>异常：无效的密码重置链接100013
          schema:
            $ref: '#/definitions/RespJSON'

    put:
      summary: 重置用户密码
      description: 重置用户密码
      parameters:
        - name: reset_code
          in: path
          description: 密码重置码
          required: true
          type: string
        - name: body
          in: body
          description: 包含用户新密码的 JSON 对象
          required: true
          schema:
            $ref: '#/definitions/PasswordReset'
      tags:
        - Auth
      responses:
        '200':
          description: 正常：用户密码重置成功， 返回 code=0 的 json 对象.<br>异常：数据错误10001;无效的密码重置链接100012;两次输入新密码不一致100013
          schema:
            $ref: '#/definitions/RespJSON'

  /user:
    get:
      summary: 获取用户信息
      description: 若用户 token 有效，返回用户信息；否则，返回错误码及相应的错误信息
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的登录 token
          required: true
          type: string
      tags:
        - User
      responses:
        '200':
          description: 正常：返回用户的基本信息.
          schema:
            $ref: '#/definitions/User'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  /user/password:
    put:
      summary: 修改当前登录用户的密码
      description: 登录token有效，旧密码正确，两次输入新密码一致，修改密码；登录token无效，返回错误码及相应的错误信息
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的登录 token
          required: true
          type: string
        - name: body
          in: body
          description: 包含当前用户的旧密码和新密码的 JSON 数据
          required: true
          schema:
            $ref: '#/definitions/UserPassword'
      tags:
        - User
      responses:
        '200':
          description: 正常：用户密码修改成功， 返回 code=0 的 json 对象.<br>异常：数据错误10001;两次输入新密码不一致100013;旧密码错误，请重新输入11006
          schema:
            $ref: '#/definitions/User'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
  /customerservice_url:
    get:
      summary: 获取工单系统单点登录地址
      description: 获取工单系统单点登录地址
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的登录 token
          required: true
          type: string
      tags:
        - CustomerService
      responses:
        '200':
          description: 正常：获取成功， 返回 code=0 的 json 对象
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                properties:
                  url:
                    type: string
                    description: 工单系统的单点登录路径
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
  /notice:
    get:
      summary: 获取公告系统通知
      description: 获取公告系统通知
      tags:
        - Notice
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的登录 token
          required: true
          type: string
      responses:
        '200':
          description: 正常：获取成功， 返回 code=0 的 json 对象
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  content:
                    type: string
                    description: 通知内容
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  /clusters:
    get:
      summary: 查询所有集群
      description: 获取用户的所有集群列表
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的 token
          required: true
          type: string
      tags:
        - Cluster
      responses:
        '200':
          description: 正常：返回用户的集群列表以及集群的相应信息.
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: '#/definitions/Cluster'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    post:
      summary: 创建集群
      description: 创建集群
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的 token
          required: true
          type: string
        - name: body
          in: body
          description: 包含集群名以及集群类型的 json 对象
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: 集群名称
              clusterType:
                type: string
                description: '集群类型, 可用的类型：1_master（初级版）,2_master（高级版）,3_master（企业版）'
      responses:
        '200':
          description: 正常：创建新集群成功，返回code=0及相应集群信息的 json 对象.<br> 异常：数据错误10001;集群名已存在12014;
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                    description: 新集群的 id
                  name:
                    type: string
                    description: 新集群的名称
                  created_at:
                    type: string
                    description: 新集群创建时间
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}':
    get:
      summary: 获取 id 为 cluster_id 集群的详细信息
      description: 获取 id 为 cluster_id 集群的详细信息
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群 id
          required: true
          type: string
      responses:
        '200':
          description: 正常：包含当前集群详细信息的 json 对象.<br>异常：找不到集群12016;
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Cluster'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    put:
      summary: 更新集群设置
      description: 更新集群的设置
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群 id
          required: true
          type: string
      responses:
        '200':
          description: 正常：设置成功.<br>异常：数据错误10001;没有权限更新集群11015;
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Cluster'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    delete:
      summary: 删除id是 cluster_id 的集群及其节点
      description: 删除id是cluster_id 的集群及其节点
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群 id
          required: true
          type: string
      responses:
        '200':
          description: 正常：删除集群成功.<br>异常：找不到集群ID 12016;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    patch:
      summary: 修改集群状态
      description: 修改集群状态
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群 id
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              method:
                type: string
                description: 操作方法，可选值 repair(修复集群)
      responses:
        '200':
          description: 正常：操作成功.<br> 异常：数据错误10001
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'


    post:
      summary: 增加主机节点
      description: 增加主机节点
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - id
              - name
              - attributes
            properties:
              id:
                type: string
                description: '新主机节点的id。（通过/cluster/{cluster_id}/new_node_identifier接口获取）'
              name:
                type: string
              attributes:
                type: object
                description: 新主机包含的主机类型
                required:
                  - gateway
                  - proxy
                properties:
                  gateway:
                    type: boolean
                    description: 外部网关
                  proxy:
                    type: boolean
                    description: 内部代理
      responses:
        '200':
          description: 正常：操作成功.<br>异常：数据错误10001;找不到集群10017;
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    delete:
      summary: 批量删除主机
      description: 批量删除指定集群下的主机
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群id
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: array
            description: 目标主机的id列表
            items:
              type: string
      responses:
        '200':
          description: 正常：删除主机成功.<br>异常：数据错误10001;找不到主机12018;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/new_node_identifier':
    get:
      summary: 获取新主机节点的uuid
      description: '获取指定集群的新主机uuid, 以便创建主机'
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 当前集群 id
          required: true
          type: string
      responses:
        '200':
          description: 正常：获取主机阶段成功，返回带有主机identifier的json对象.<br>异常：找不到集群100017;
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                required:
                  - identifier
                properties:
                  identifier:
                    type: string
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/nodes/{node_id}':
    get:
      summary: 查询单个主机的信息
      description: 查询单个主机的信息
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 主机所在的集群的id
          required: true
          type: string
        - name: node_id
          in: path
          description: 主机id
          required: true
          type: string
      responses:
        '200':
          description: 正常：包含当前主机信息的json对象.<br>异常：主机找不到12018;
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Node'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    put:
      summary: 修改当前主机的设置
      description: 修改当前主机的设置
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 当前用户的 token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 目标主机所在的集群的ID
          required: true
          type: string
        - name: node_id
          in: path
          description: 目标主机ID
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
                description: 主机的id
              name:
                type: string
                description: 主机的新名称
      responses:
        '200':
          description: 正常：更改主机设置成功， 返回修改后的主机信息.<br>异常：数据错误10001;找不到主机12018;
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Node'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/nodes/{node_id}/metrics':
    get:
      summary: 查询主机的性能数据
      description: 查询主机的性能数据
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: node_id
          in: path
          description: 主机id
          required: true
          type: string
      responses:
        '200':
          description: 正常：包含主机metrics 的 json 对象.<br>异常：找不到主机12018;
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  type: object
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'


  '/clusters/{cluster_id}/nodes/{node_id}/services/{service_name}':
    patch:
      summary: 改变特定服务状态
      description: 改变特定服务状态
      tags:
        - Cluster
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: node_id
          in: path
          description: 主机id
          required: true
          type: string
        - name: service_name
          in: path
          description: 服务名
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              method:
                type: string
      responses:
        '200':
          description: 正常：操作成功.<br>异常：数据错误10001;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/nodes/{node_id}/labels':
    get:
      summary: 获取指定主机的标签列表
      description: 获取指定主机的标签列表
      tags:
        - Label
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: node_id
          in: path
          description: 主机id
          required: true
          type: string
      responses:
        '200':
          description: 正常：列出指定主机的标签列表.
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: string
                format: int32
              data:
                type: array
                items:
                  $ref: "#/definitions/Label"
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'


    post:
      summary: 为单个主机增加label
      description: 为单个主机增加label
      tags:
        - Label
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: node_id
          in: path
          description: 主机ID
          required: true
          type: string
        - name: body
          in: body
          description: 标签内容
          required: true
          schema:
            type: object
            properties:
              label:
                type: string
                description: 标签
      responses:
        '200':
          description: 正常：主机增加label成功, 返回结果为当前主机新的label列表.<br>异常：数据错误10001;某标签不存在12019;主机不存在12018;
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  '$ref': '#/definitions/Label'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/nodes/add_label':
    post:
      summary: 为多个主机批量设置标签
      description: 为多个主机批量设置标签
      tags:
        - Label
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
          description: 标签名称
          required: true
          schema:
            type: object
            required:
              - nodes
              - labels
            properties:
              nodes:
                type: array
                description: 主机id列表
                items:
                  type: integer
                  format: int32
              labels:
                type: array
                description: 标签id列表
                items:
                  type: string
      responses:
        '200':
          description: 正常：批量设置标签成功.<br>异常：数据错误10001;某标签不存在12019;
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/nodes/remove_label':
    delete:
      summary: 为多个主机批量删除标签
      description: 为多个主机批量删除标签
      tags:
        - Label
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
          description: 标签名称
          required: true
          schema:
            type: object
            properties:
              nodes:
                type: array
                description: 主机id列表
                items:
                  type: integer
                  format: int32
              labels:
                type: array
                description: 标签id列表
                items:
                  type: integer
                  format: int32
      responses:
        '200':
          description: 正常：批量删除标签成功.<br>异常：数据错误10001;某标签不存在12001;主机不存在12018;
          schema:
            required:
              - code
            type: object
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/nodes/{node_id}/label/{label_id}':
    delete:
      summary: 删除主机上的label
      description: 删除主机上的label
      tags:
        - Label
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: node_id
          in: path
          description: 主机ID
          required: true
          type: string
        - name: label_id
          in: path
          description: 标签ID
          required: true
          type: string
      responses:
        '200':
          description: 正常：删除主机上的标签.<br>异常：数据错误10001;某标签不存在12001;主机不存在12018;
          schema:
            required:
              - code
            type: object
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/nodes?query_by=label&label={label}':
    get:
      summary: 通过标签获取主机列表
      description: 通过标签获取主机列表， 注意参数label需要URL encode。
      tags:
        - Label
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: label
          in: path
          description: 标签
          required: true
          type: string
      responses:
        '200':
          description: 正常：列出指定主机的列表.<br>异常：query_by条件不支; 数据不正确10001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  '$ref': "#/definitions/Node"
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/jobs':
    get:
      summary: 列出所有任务
      description: 列出所有任务
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
      responses:
        '200':
          description: 正常：列出所有任务成功.
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: '#/definitions/Job'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/jobs':
    get:
      summary: 列出cluster上运行所有任务
      description: 列出cluster上运行所有任务
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
      responses:
        '200':
          description: 正常：列出所有任务成功
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: '#/definitions/Job'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    post:
      summary: 创建一个docker任务
      description: 创建一个docker任务
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: body
          in: body
          description: 发布一个任务需要的参数。
          required: true
          schema:
            $ref: '#/definitions/PostJob'
      responses:
        '200':
          description: 正常：启动任务成功.<br>异常：集群不存在10017
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/jobs/{job_id}/status':
    get:
      summary: 返回单个任务状态
      description: 返回单个任务状态
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: job_id
          in: path
          description: Job唯一标识
          required: true
          type: string
      responses:
        '200':
          description: 正常：获取单个任务状态成功.<br>异常：集群不存在10017; Job不存在13001;
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/JobStatus'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/jobs/{job_id}':
    get:
      summary: 返回单个任务详细信息
      description: 返回单个任务详细信息
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: job_id
          in: path
          description: job唯一标识
          required: true
          type: string
      responses:
        '200':
          description: 正常：列出单个任务详细信息成功.异常：集群不存在10017; Job不存在13001;
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Job'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    delete:
      summary: 删除任务
      description: 删除任务
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: job_id
          in: path
          description: 任务名
          required: true
          type: string
      responses:
        '200':
          description: 正常：删除任务成功.<br>异常：集群不存在10017; Job不存在13001;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

    put:
      summary: 手动启动一个任务
      description: 手动启动一个任务
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: integer
          format: int32
        - name: job_id
          in: path
          description: 任务名
          required: true
          type: string
      responses:
        '200':
          description: 正常：启动任务成功.<br>异常：集群不存在10017; Job不存在13001;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/jobs/{job_id}/tasks':
    delete:
      summary: 删除cluster下某个任务的所有tasks
      description: 删除cluster下某个任务的所有tasks
      tags:
        - Job
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: job_id
          in: path
          description: job标识
          required: true
          type: string
      responses:
        '200':
          description: 正常：删除任务成功.<br>异常：集群不存在10017; Job不存在13001;
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/applications':
    get:
      summary: 根据条件请求获得cluster_id下所有applications列表
      description: 根据条件请求获得cluster_id下所有applications列表
      tags:
        - Application
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: page
          in: query
          description: applications页数，第1页，第2页...
          required: false
          type: integer
          format: int32
        - name: per_page
          in: query
          description: 每页有多少条记录
          required: false
          type: integer
          format: int32
        - name: keywords
          in: query
          description: 搜索关键词，匹配应用名称
          required: false
          type: string
        - name: sort_by
          in: query
          description: 排序字段, 可选值包含container_num, app_name, last_update
          required: false
          type: string
        - name: order
          in: query
          description: sort顺序, 可选值包括asc, desc
          required: false
          type: string
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017，数据异常10001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  $ref: '#/definitions/Application'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    post:
      summary: cluster里面创建部署一个application
      description: cluster里面创建部署一个application
      tags:
        - Application
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: body
          in: body
          description: 创建application的配置参数
          required: true
          schema:
            $ref: '#/definitions/ApplicationRequest'
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017，数据异常10001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Application'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/applications/{application_id}':
    get:
      summary: 通过cluster_id和application_id获取一个application
      description: 通过cluster_id和application_id获取一个application
      tags:
        - Application
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: application_id
          in: path
          description: 应用Id
          required: true
          type: string
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Application'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    put:
      summary: 修改某个Application
      description: 修改某个Application
      tags:
        - Application
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: application_id
          in: path
          description: 应用ID
          required: true
          type: string
        - name: body
          in: body
          description: 创建application的配置参数
          required: true
          schema:
            $ref: '#/definitions/ApplicationRequest'
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Application'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    patch:
      summary: 通过cluster_id和application_id更新一个application的状态
      description: 通过cluster_id和application_id更新一个application的状态， 可能操作包含回滚(rollback)，停止(stop)，启动(start)， 更新版本(update_version)， 终止部署(stop_deploy)，终止扩展(stop_scaling)，更新实例数量(update_container_num)
      tags:
        - Application
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: application_id
          in: path
          description: 应用Id
          required: true
          type: string
        - name: body
          in: body
          required: true
          description: 请求参数，method为必须参数，标识操作动作， 其余为辅助参数
          schema:
            type: object
            properties:
              method:
                type: string
                description: 操作方法，可选值 stop, start, update_version, stop_deploy, stop_scaling, update_container_num
              new_contaienr_num:
                type: integer
                description: 新的实例个数， method是update_container_num时适用
              new_version:
                type: string
                description: 新的App版本，method 是update_version时适用
      responses:
        '200':
          description: 正常：返回成功, api返回结果不代表操作成功， 只能表示数人云收到请求，准备处理请求。<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                $ref: '#/definitions/Application'
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'
    delete:
      summary: 通过cluster_id和application_id查找并且删除一个application
      description: 通过cluster_id和application_id查找并且删除一个application
      tags:
        - Application
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: application_id
          in: path
          description: 应用Id
          required: true
          type: string
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
            properties:
              code:
                type: integer
                format: int32
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/applications/{application_id}/status':
    get:
      summary: 通过cluster_id和application_id获得某一application的状态
      description: 删除cluster_id和application_id获得某一application的状态
      tags:
        - Application
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: application_id
          in: path
          description: 应用Id
          required: true
          type: string
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: object
                properties:
                  status:
                    type: integer
                    description: 应用状态 部署中 => 1; 运行中 =>  2; 已停止  => 3; 停止中 =>    4; 删除中  => 5; 扩展中 =>    6
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/applications/{application_id}/actions':
    get:
      summary:    获取某一application对应的操作记录
      description: 获取某一application的操作记录
      tags:
        - Application
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: application_id
          in: path
          description: 应用Id
          required: true
          type: string
        - name: page
          in: query
          description: 数字，第几页，默认为1
          required: false
          type: string
        - name: per_page
          in: query
          description: 数字，每页多少条记录，默认为50
          required: false
          type: string
        - name: begin_time
          in: query
          description: 数字，unix时间戳，记录开始时间，如：1456201016
          required: false
          type: string
        - name: end_time
          in: query
          description: 数字，unix时间戳，记录开始时间，如：1456201016
          required: false
          type: string
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                items:
                  type: object
                  description: 数人云操作日志
                  required:
                    - id
                    - time
                    - action
                    - actionType
                  properties:
                    id:
                      type: integer
                      format: int32
                      description: action id
                    action:
                      type: string
                      description: 操作描述
                    actionType:
                      type: string
                      description: 操作分类
                    time:
                      type: string
                      description: 操作发生时间
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'

  '/clusters/{cluster_id}/applications/{application_id}/events':
    get:
      summary:    获取某一application对应的marathon日志
      description: 获取某一application的对应的marathon日志
      tags:
        - Application
      parameters:
        - name: Authorization
          in: header
          description: 用户token
          required: true
          type: string
        - name: cluster_id
          in: path
          description: 集群ID
          required: true
          type: string
        - name: application_id
          in: path
          description: 应用Id
          required: true
          type: string
        - name: page
          in: query
          description: 数字，第几页，默认为1
          required: false
          type: string
        - name: per_page
          in: query
          description: 数字，每页多少条记录，默认为50
          required: false
          type: string
        - name: begin_time
          in: query
          description: 数字，unix时间戳，记录开始时间，如：1456201016
          required: false
          type: string
        - name: end_time
          in: query
          description: 数字，unix时间戳，记录开始时间，如：1456201016
          required: false
          type: string
      responses:
        '200':
          description: 正常：返回成功.<br>异常：集群不存在10017;数据异常10001;应用不存在14001
          schema:
            type: object
            required:
              - code
              - data
            properties:
              code:
                type: integer
                format: int32
              data:
                type: array
                description: marathon events
                items:
                  type: string
                  description: event消息
        '401':
          description: 异常：token不合法时返回10002
          schema:
            $ref: '#/definitions/TokenNotValid'


definitions:
  TokenNotValid:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: 错误码，token验证失败为10002
  Auth:
    type: object
    properties:
      email:
        type: string
        description: 用户的 email
      password:
        type: string
        description: Display name of product.
  Token:
    type: object
    required:
      - code
      - data
    properties:
      code:
        type: integer
        format: int32
      data:
        type: object
        required:
          - token
        properties:
          token:
            type: string
            description: 用户登录凭证
  RespJSON:
    type: object
    required:
      - code
      - data
    properties:
      code:
        type: integer
        format: int32
      data:
        type: object
        properties:
          fields:
            type: string
  Registration:
    type: object
    properties:
      email:
        type: string
      password:
        type: string
        description: Display name of product.
      company:
        type: string
      wechat_qq:
        type: string
      phone_number:
        type: string
  Activation:
    type: object
    properties:
      email:
        type: string
  PasswordResetURL:
    type: object
    properties:
      email:
        type: string
  PasswordReset:
    type: object
    properties:
      new_password:
        type: string
      new_password_compare:
        type: string
  User:
    type: object
    required:
      - code
      - data
    properties:
      code:
        type: integer
        format: int32
      data:
        type: object
        required:
          - userId
          - userName
          - isSuperuser
        properties:
          userId:
            type: integer
          userName:
            type: string
          isSuperuser:
            type: boolean
  UserPassword:
    type: object
    properties:
      old_password:
        type: string
      new_password:
        type: string
      new_password_compare:
        type: string
  Cluster:
    description: 集群信息
    type: object
    required:
      - id
      - name
      - code
      - cluster_type
      - nodes
    properties:
      id:
        type: integer
        format: int32
        description: 集群id
      name:
        type: string
        description: 集群名称
      code:
        type: integer
        format: int32
        description: 集群状态
      created_at:
        type: string
        description: 集群创建时间
      cluster_type:
        type: string
        description: '集群类型(1_master, 3_masters, 5_masters)'
      updated_at:
        type: string
        description: 集群最近一次修改时间（包括状态变更）
      nodes:
        description: 集群下的所有主机
        type: array
        items:
          type: object
          required:
            - id
            - name
            - status
            - ip
            - role
            - agent_version
            - attribute
            - services
          properties:
            id:
              description: 主机id
              type: integer
              format: int32
            name:
              description: 主机名称
              type: string
            status:
              description: 主机状态
              type: string
            ip:
              description: 主机ip
              type: string
            role:
              description: '主机角色（master, slave）'
              type: string
            created_at:
              description: 主机加入时间
            updated_at:
              type: string
              description: 主机最近一次修改时间（包括状态变更）
              type: string
            agent_version:
              description: agent的版本号
              type: string
            attribute:
              description: 主机包含的类型
              type: array
              items:
                type: object
                properties:
                  attribute:
                    description: '类型名称(transient, gateway, proxy, persistent)'
                    type: string
            services:
              description: 主机上的服务
              type: array
              items:
                type: object
                properties:
                  name:
                    description: 服务名称
                    type: string
                  status:
                    description: 服务状态
                    type: string
            node_labels:
              description: 主机上的标签
              type: array
              items:
                type: object
                properties:
                  id:
                    description: 标签id
                    type: integer
                  name:
                    description: 标签名
                    type: string
  Node:
    description: 主机信息
    type: object
    required:
      - cluster
      - id
      - role
      - name
      - status
      - ip
      - services
      - attributes

    properties:
      cluster:
        description: 主机所在的集群信息
        type: object
        properties:
          id:
            description: 集群id
            type: integer
            format: int32
          name:
            description: 集群名称
            type: string
          cluster_type:
            description: 集群类型
            type: string
      id:
        description: 主机id
        type: string
      role:
        description: '主机角色（master, slave）'
        type: string
      name:
        description: 主机名称
        type: string
      status:
        description: 主机状态
        type: string
      created_at:
        description: 主机创建时间
        type: string
      ip:
        description: 主机ip
        type: string
      updated_at:
        description: 主机最近一次修改时间（包括状态变更）
        type: string
      services:
        description: 主机下的服务
        type: array
        items:
          type: object
          properties:
            name:
              description: 服务名称
              type: string
            status:
              description: 服务状态
              type: string
      attributes:
        description: 主机包含的类型
        type: array
        items:
          type: object
          properties:
            attribute:
              description: 类型名称
              type: string
  Label:
    type: object
    properties:
      id:
        description: 标签ID
        type: integer
      name:
        description: 标签名称
        type: string
  PostJob:
    description: 任务部署参数
    type: object
    properties:
      name:
        description: 任务名
        type: string
      imageURI:
        description: 镜像地址
        type: string
      imageversion:
        description: 版本
        type: string
      cpu:
        description: cpu
        type: number
        format: float
      mem:
        description: 内存
        type: integer
        format: int32
      owner:
        description: 用户邮箱
        type: string
      ownerName:
        description: 用户名
        type: string
      schedule:
        description: 执行计划(选填，当发布依赖job时不填)
        type: string
      command:
        description: 命令
        type: string
      parents:
        description: 依赖
        type: array
        items:
          type: string
      volumes:
        description: 挂载点
        type: array
        items:
          type: object
          properties:
            hostPath:
              description: 宿主机路径
              type: string
            containerPath:
              description: 容器路径
              type: string
      constraints:
        description: 限制
        type: array
        items:
          type: array
          description: 限制
          items:
            type: string
  Job:
    description: 任务信息
    type: object
    properties:
      name:
        description: 名称
        type: string
      command:
        description: 命令
        type: string
      owner:
        description: 拥有者邮箱
        type: string
      ownerName:
        description: 拥有者姓名
        type: string
      cpu:
        description: cpu大小
        type: number
        format: float
      mem:
        description: 内存大小
        type: integer
        format: int32
      disk:
        description: 存储
        type: integer
        format: int32
      uris:
        description: 存储地址
        type: string
      container:
        description: 容器
        type: object
        properties:
          type:
            description: 容器类型
            type: string
          image:
            description: 镜像地址
            type: string
          network:
            description: 网络模式
            type: string
          volumes:
            description: 挂载点
            type: array
            items:
              type: object
              properties:
                hostPath:
                  description: 宿主机路径
                  type: string
                containerPath:
                  description: 容器路径
                  type: string
                mode:
                  description: 读写模式
                  type: string
      async:
        description: 同步
        type: boolean
      successCount:
        description: 成功次数
        type: integer
        format: int32
      errorCount:
        description: 出错次数
        type: integer
        format: int32
      lastSuccess:
        description: 上一次成功的时间
        type: string
      lastError:
        description: 上一次失败的时间
        type: string
      epsilon:
        description: 间隔
        type: string
      parents:
        description: 依赖任务
        type: array
        items:
          type: string
      schedule:
        description: 执行计划
        type: string
  JobStatus:
    description: 任务状态
    type: object
    properties:
      name:
        description: job名称
        type: string
      last:
        description: 上一次job运行状态
        type: string
      now:
        description: 当前状态
        type: string


  Application:
    description: App
    type: object
    required:
      - appId
      - appName
      - cluster_id
      - update
      - containerNum
      - tasks
      - latestActions
      - latestEvents
    properties:
      appId:
        description: app id
        type: integer
      appName:
        description: app名称
        type: string
      cluster_id:
        description: app属于哪一个cluster
        type: integer
      update:
        description: app最后更新时间
        type: string
      containerNum:
        description: app预计运行数量
        type: integer
      tasks:
        description: 实际运行task数量
      latestActions:
        type: object
        description: 数人云操作日志
        required:
          - id
          - time
          - action
          - actionType
        properties:
          id:
            type: integer
            format: int32
            description: action id
          action:
            type: string
            description: 操作描述
          actionType:
            type: string
            description: 操作分类
          time:
            type: string
            description: 操作发生时间
      instances:
        type: object
        description: 实例数量
        required:
          - id
          - status
          - start_time
        properties:
          id:
            type: integer
            description: instance id
          status:
            type: integer
            description: instance 状态  已启动=>1; 部署中=>2
          start_time:
            type: string
            description: Instance开始时间
      containerNum:
        description: 容器个数
        type: string
      containerVolumesInfo:
        description: 容器Volumn配置
        type: array
        items:
          type: object
          properties:
            hostPath:
              type: string
              description: 宿主机器文件路径
            containerPath:
              type: string
              description: 容器内部文件路径
      containerPortsInfo:
        description: 容器ports配置
        type: array
        items:
          type: object
          required:
            - appPort
            - protocol
            - isUri
            - type
            - mapPort
            - uri
          properties:
            appPort:
              type: string
              description: 容器内部app端口
            protocol:
              description: '端口协议 1: tcp 2: http'
              type: string
            isUri:
              description: '是否包含域名 1: 有域名, 2: 无域名'
              type: string
            'type':
              description: '对内还是对外 1: 对内, 2:对外'
              type: string
            mapPort:
              description: 映射端口
              type: integer
            uri:
              description: 域名
              type: string
      containerCpuSize:
        description: Cpu 大小(例如:1 -->1 CPU )
        type: string
      containerMemSize:
        description: 内存 大小(例如:1 -->512 MB )
        type: string
      cmd:
        description: 运行命令
        type: string
      envs:
        description: 环境变量(可选项,Key:Value.用户不填就没有)
        type: string
      imageURI:
        description: 镜像地址
        type: string
      imageversion:
        description: 镜像版本
        type: string
      network:
        description: 网络模式 "BRIDGE":网桥 "host":HOST模式
        type: string
      constraints:
        description: 约束
      versionHistory:
        description: 当前应用的历史版本
        type: array
        items:
          type: object
          required:
            - version
            - isCurrentDeploy
            - deployStatus
            - lastUpdate
          properties:
            version:
              type: string
              description: version版本
            imageVersion:
              type: string
              description: Image版本
            isCurrentDeploy:
              type: integer
              description: 是否当前部署版本 是 => 1; 否 => 0
            deployStatus:
              type: integer
              description: 部署状态 当前版本可用 => 1; 不可用 => 0
            lastUpdate:
              type: string
              description: 当前版本上次的部署时间
      isDeploying:
        type: integer
        description: 是否部署当中 部署中 => 1; 非部署中 => 0
      nodes:
        type: array
        items:
          type: object
          required:
            - ip
            - ports
          properties:
            ip:
              type: string
              description: Node的IP地址
            ports:
              type: array
              description: Node上的打开端口
              items:
                type: integer
                description: 端口地址
      latestEvents:
        type: array
        description: 最新100个marathon events
        items:
          type: string
          description: event消息
      networkEntries:
        type: object
        description: 网络入口，域名和Ports
        required:
          - innerPorts
          - outerPorts
          - domains
        properties:
          innerPorts:
            type: array
            description: 对内端口
            items:
              type: integer
              description: 端口
          outerPorts:
            type: array
            description: 对外端口
            items:
              type: integer
              description: 端口
          domains:
            type: array
            description: 域名
            items:
              type: string
              description: 域名
  ApplicationRequest:
    description: App
    type: object
    properties:
      appName:
        description: 应用名称
        type: string
      cluster_id:
        description: app属于哪一个cluster
        type: integer
      containerNum:
        description: 容器个数
        type: string
      containerVolumesInfo:
        description: 容器Volumn配置
        type: array
        items:
          type: object
          properties:
            hostPath:
              type: string
              description: 宿主机器文件路径
            containerPath:
              type: string
              description: 容器内部文件路径
      containerPortsInfo:
        description: 容器ports配置
        type: array
        items:
          type: object
          properties:
            appPort:
              type: string
              description: 容器内部app端口
            protocol:
              type: string
              description: '端口协议 1: tcp 2: http协议'
            isUri:
              type: string
              description: '是否包含域名 1: 有域名, 2: 无域名'
            type:
              type: string
              description: '对内还是对外 1: 对内, 2:对外'
            mapPort:
              type: integer
              description: 映射端口
            uri:
              description: 域名
              type: string
      containerCpuSize:
        description: Cpu 大小(例如:1 -->1 CPU )
        type: string
      containerMemSize:
        description: 内存 大小(例如:1 -->512 MB )
        type: string
      cmd:
        description: 运行命令
        type: string
      envs:
        description: 环境变量(可选项,Key:Value.用户不填就没有)
        type: string
      imageURI:
        description: 镜像地址
        type: string
      imageversion:
        description: 镜像版本
        type: string
      network:
        description: 网络模式 "BRIDGE":网桥 "host":HOST模式
        type: string
      constraints:
        description: 约束
        type: string
