{
    "swagger": "2.0",
    "info": {
        "title": "shurenyun API",
        "description": "数人云 API 文档",
        "version": "3"
    },
    "host": "forward.shurenyun.com",
    "schemes": [
        "https"
    ],
    "basePath": "/api/v3",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/auth": {
            "post": {
                "summary": "验证用户名密码是否匹配并获取登录 token，如果错误则返回HTTP STATUS CODE 401.",
                "description": "向服务器发送当前用户的 email 及密码，若验证通过，返回当前用户的登录 token; 否则，返回错误码及相应的错误信息",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "带有当前用户的注册邮箱和密码的 json 数据。",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Auth"
                        }
                    }
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "若登录成功则返回当前用户的token, HTTP STATUS CODE 401",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    },
                    "401": {
                        "description": "登录失败，返回HTTP STATUS CODE 401, Body中的code分别为：数据错误10001;用户不存在11004;密码错误11006;非激活用户登录11005",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "get": {
                "summary": "验证用户的 token 是否有效",
                "description": "请求验证当前用户的 token。若验证通过，返回code=0；验证失败，返回错误码及相应的错误信息",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的登录 token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "正常：验证的Authorization token存在且有效. <br>异常：验证错误11007",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    }
                }
            },
            "delete": {
                "summary": "用户登出并删除登录 token",
                "description": "请求删除用户的登录 token, 若删除成功， 返回code=0；否则, 返回错误码及相应的错误信息",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的登录 token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "正常：验证的 Authorization token 存在且有效,用户成功登出系统.",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    },
                    "401": {
                        "description": "异常：验证token失败10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/auth/user/registration": {
            "post": {
                "summary": "新用户注册并发送激活邮件到注册邮箱",
                "description": "注册成功后异步发送激活邮件到注册邮箱, 并立即返回code=0; 注册失败，返回错误码及相应的错误信息",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "包涵用户注册信息如 email, password, company 等的 json 数据。",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Registration"
                        }
                    }
                ],
                "produces": [
                    "application/json",
                    "text/html"
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "正常：注册成功，返回code=0的json 数据。 <br>异常：用户已存在11003; 错误的字段10001; 错误的Json格式10008",
                        "schema": {
                            "$ref": "#/definitions/RespJSON"
                        }
                    }
                }
            }
        },
        "/auth/user/activation": {
            "post": {
                "summary": "重新发送激活邮件到用户的邮箱",
                "description": "发送邮件到未激活的用户邮箱；如果用户已激活，返回异常，不发送邮件; 如果用户不存在，返回错误码及相应的错误信息",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "带有用户邮箱的Json字符串",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Activation"
                        }
                    }
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "正常：激活邮件发送成功. <br>异常：数据错误10001;用户不存在11004;用户已激活11009",
                        "schema": {
                            "$ref": "#/definitions/RespJSON"
                        }
                    }
                }
            }
        },
        "/auth/user/activation/{activate_code}": {
            "put": {
                "summary": "激活用户并且发送欢迎邮件到用户邮箱",
                "description": "如果激活码有效，激活用户并发送欢迎邮件; 如果激活码无效，返回错误码及相应的错误信息",
                "produces": [
                    "application/json",
                    "text/html"
                ],
                "parameters": [
                    {
                        "name": "activate_code",
                        "in": "path",
                        "description": "用户邮箱收到的激活码(激活码是用户邮箱收到的激活链接的最后一段字符串)",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "正常：激活成功，返回 code=0 的 json 对象.<br> 异常：数据错误10001;激活失败11010",
                        "schema": {
                            "$ref": "#/definitions/RespJSON"
                        }
                    }
                }
            }
        },
        "/auth/password/reseturl": {
            "post": {
                "summary": "发送密码重置邮件到用户邮箱",
                "description": "如果用户存在，发送密码重置链接到用户邮箱；如果用户不存在，返回错误码及相应的错误信息",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "包含用户邮箱的 json 对象",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PasswordResetURL"
                        }
                    }
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "正常：发送邮件到邮箱，并返回code=0的 json 对象. <br>异常：数据错误10001;邮箱地址未被注册11011",
                        "schema": {
                            "$ref": "#/definitions/RespJSON"
                        }
                    }
                }
            }
        },
        "/auth/password/{reset_code}": {
            "get": {
                "summary": "检查密码重置码有效性",
                "description": "密码重置码有效，返回code=0；密码重置码无效，返回错误码及相应的错误信息",
                "parameters": [
                    {
                        "name": "reset_code",
                        "in": "path",
                        "description": "密码重置码",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "正常：密码重置码有效, 返回code=0的 json 对象.<br>异常：无效的密码重置链接100013",
                        "schema": {
                            "$ref": "#/definitions/RespJSON"
                        }
                    }
                }
            },
            "put": {
                "summary": "重置用户密码",
                "description": "重置用户密码",
                "parameters": [
                    {
                        "name": "reset_code",
                        "in": "path",
                        "description": "密码重置码",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "包含用户新密码的 JSON 对象",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PasswordReset"
                        }
                    }
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "正常：用户密码重置成功， 返回 code=0 的 json 对象.<br>异常：数据错误10001;无效的密码重置链接100012;两次输入新密码不一致100013",
                        "schema": {
                            "$ref": "#/definitions/RespJSON"
                        }
                    }
                }
            }
        },
        "/permissions/{privilege}/": {
            "get": {
                "summary": "验证用户是否具有操作权限",
                "description": "验证用户是否具有对某个资源具有某种操作权限",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的登录 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "privilege",
                        "in": "path",
                        "description": "操作权限。cluster_write:集群写权限，cluster_read:集群读权限",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "query",
                        "description": "集群id",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "正常：获取成功， 返回json 对象",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "0表示有权限，10010表示没有权限"
                                },
                                "data": {
                                    "type": [
                                        "null"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user": {
            "get": {
                "summary": "获取用户信息",
                "description": "若用户 token 有效，返回用户信息；否则，返回错误码及相应的错误信息",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的登录 token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "正常：返回用户的基本信息.",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/user/password": {
            "put": {
                "summary": "修改当前登录用户的密码",
                "description": "登录token有效，旧密码正确，两次输入新密码一致，修改密码；登录token无效，返回错误码及相应的错误信息",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的登录 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "包含当前用户的旧密码和新密码的 JSON 数据",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserPassword"
                        }
                    }
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "正常：用户密码修改成功， 返回 code=0 的 json 对象.<br>异常：数据错误10001;两次输入新密码不一致100013;旧密码错误，请重新输入11006",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "description": "正常返回code为0，错误请参考错误码列表"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/customerservice_url": {
            "get": {
                "summary": "获取工单系统单点登录地址",
                "description": "获取工单系统单点登录地址",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的登录 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "return_to",
                        "in": "query",
                        "description": "数人云平台登录成功跳转路径",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Misc"
                ],
                "responses": {
                    "200": {
                        "description": "正常：获取成功， 返回 code=0 的 json 对象",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "url": {
                                            "type": "string",
                                            "description": "工单系统的单点登录路径"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/users": {
            "get": {
                "summary": "列出所有用户",
                "description": "列出所有用户，默认获取前20条，分页可以通过page&per_page来控制.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "required": false,
                        "default": 1
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "required": false,
                        "default": 20
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "获取成功",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Users"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "post": {
                "summary": "新建用户",
                "description": "新建用户",
                "tags": [
                    "Users"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "新建用户传递的参数",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "用户名称"
                                },
                                "email": {
                                    "type": "string",
                                    "description": "用户邮箱，可以为空"
                                },
                                "password": {
                                    "type": "string",
                                    "description": "用户密码"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "code 0 表示新建用户成功 10001 表示用户已存在",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": [
                                        "object",
                                        "null"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/users/{user_id}": {
            "get": {
                "summary": "获取用户信息",
                "description": "获取id为user_id的用户信息",
                "tags": [
                    "Users"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "用户 id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    }
                ],
                "responses": {
                    "200": {
                        "description": "操作成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "$ref": "#/definitions/SingleUser"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "patch": {
                "summary": "修改用户状态",
                "description": "冻结或解冻用户",
                "tags": [
                    "Users"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "用户id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "method": {
                                    "type": "string",
                                    "description": "操作方法，可选值 disable(冻结用户), enable(解冻用户)"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "操作成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": [
                                        "object",
                                        "null"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "put": {
                "summary": "重置用户密码",
                "description": "重置用户密码",
                "tags": [
                    "Users"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "用户id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "password": {
                                    "type": "string",
                                    "description": "重置用户密码"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "code 0 表示操作成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": [
                                        "object",
                                        "null"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/notice": {
            "get": {
                "summary": "获取公告系统通知",
                "description": "获取公告系统通知",
                "tags": [
                    "Misc"
                ],
                "responses": {
                    "200": {
                        "description": "正常：获取成功， 返回 code=0 的 json 对象",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": [
                                        "object",
                                        "null"
                                    ],
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "content": {
                                            "type": "string",
                                            "description": "通知内容"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/email": {
            "post": {
                "summary": "邮件发送",
                "description": "给指定邮箱发送邮件",
                "tags": [
                    "Misc"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "邮件详细信息",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "template": {
                                    "type": "string",
                                    "description": "模版名称，告警模版为alarm"
                                },
                                "subject": {
                                    "type": "string",
                                    "description": "邮件主题"
                                },
                                "emails": {
                                    "type": "array",
                                    "description": "目标邮箱地址组",
                                    "items": {
                                        "type": "string",
                                        "description": "邮箱地址"
                                    }
                                },
                                "data": {
                                    "type": "object",
                                    "description": "邮件相关内容，具体属性根据模版不同而不同。",
                                    "properties": {
                                        "content": {
                                            "type": "string",
                                            "description": "alarm模版需要，表示报警内容"
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：发送成功， 返回 code=0",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": [
                                        "null"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clusters": {
            "get": {
                "summary": "查询所有集群",
                "description": "获取用户的所有集群列表",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的 token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Cluster"
                ],
                "responses": {
                    "200": {
                        "description": "正常：返回用户的集群列表以及集群的相应信息.",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Cluster"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "post": {
                "summary": "创建集群",
                "description": "创建集群",
                "tags": [
                    "Cluster"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "包含集群名以及集群类型的 json 对象",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "集群名称"
                                },
                                "clusterType": {
                                    "type": "string",
                                    "description": "集群类型, 可用的类型：1_master（初级版）,2_master（高级版）,3_master（企业版）"
                                },
                                "groupId": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "集群所在用户组，如果为空，表示集群属于当前用户，不属于任何用户组"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：创建新集群成功，返回code=0及相应集群信息的 json 对象.<br> 异常：数据错误10001;集群名已存在12014;",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "新集群的 id"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "新集群的名称"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "description": "新集群创建时间"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/clusters/versions": {
            "get": {
                "summary": "获取服务的最新版本",
                "description": "获取服务的最新版本，包括agent,zookeeper,slave等",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的 token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Cluster"
                ],
                "responses": {
                    "200": {
                        "description": "正常：返回服务的最新版本.",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "description": "key值为服务名，value为该服务的最新版本"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/clusters/{cluster_id}": {
            "get": {
                "summary": "获取 id 为 cluster_id 集群的详细信息",
                "description": "获取 id 为 cluster_id 集群的详细信息",
                "tags": [
                    "Cluster"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群 id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：包含当前集群详细信息的 json 对象.<br>异常：找不到集群12016;",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "$ref": "#/definitions/Cluster"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "put": {
                "summary": "更新集群设置",
                "description": "更新集群的设置",
                "tags": [
                    "Cluster"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群 id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "default": "cluster_name",
                                    "description": "新的集群名称"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：设置成功.<br>异常：数据错误10001;没有权限更新集群11015;",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "delete": {
                "summary": "删除id是 cluster_id 的集群及其节点",
                "description": "删除id是cluster_id 的集群及其节点",
                "tags": [
                    "Cluster"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群 id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：删除集群成功.<br>异常：找不到集群ID 12016;",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "patch": {
                "summary": "修改集群状态",
                "description": "修改集群状态",
                "tags": [
                    "Cluster"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群 id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "method": {
                                    "type": "string",
                                    "description": "操作方法，可选值 repair(修复集群), upgrade(升级)"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：操作成功.<br> 异常：数据错误10001",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/clusters/{cluster_id}/nodes": {
            "get": {
                "summary": "通过标签获取集群内主机列表",
                "description": "通过标签获取集群内主机列表， 注意参数label需要URL encode。",
                "tags": [
                    "Label"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "label_ids",
                        "in": "query",
                        "description": "逗号分割的id列表， 比如： 1,3,4",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：列出指定主机的列表.<br>异常：query_by条件不支; 数据不正确10001",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/SimpleNode"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "post": {
                "summary": "增加主机节点",
                "description": "增加主机节点",
                "tags": [
                    "Cluster"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "id",
                                "name"
                            ],
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "新主机节点的id。（通过/cluster/{cluster_id}/new_node_identifier接口获取）",
                                    "default": "fa5d189aeca64d2b90773578ec38af75"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "主机名称",
                                    "default": "主机节点A"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：操作成功.<br>异常：数据错误10001;找不到集群10017;",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "delete": {
                "summary": "批量删除主机",
                "description": "批量删除指定集群下的主机",
                "tags": [
                    "Cluster"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "description": "目标主机的id列表",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：删除主机成功.<br>异常：数据错误10001;找不到主机12018;",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/clusters/{cluster_id}/new_node_identifier": {
            "get": {
                "summary": "获取新主机节点的uuid",
                "description": "获取指定集群的新主机uuid, 以便创建主机",
                "tags": [
                    "Cluster"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "当前集群 id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：获取主机阶段成功，返回带有主机identifier的json对象.<br>异常：找不到集群100017;",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "required": [
                                        "identifier"
                                    ],
                                    "properties": {
                                        "identifier": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/clusters/{cluster_id}/nodes/{node_id}": {
            "get": {
                "summary": "查询单个主机的信息",
                "description": "查询单个主机的信息",
                "tags": [
                    "Cluster"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "主机所在的集群的id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "node_id",
                        "in": "path",
                        "description": "主机id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 66
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：包含当前主机信息的json对象.<br>异常：主机找不到12018;",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "$ref": "#/definitions/Node"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "put": {
                "summary": "修改当前主机的设置",
                "description": "修改当前主机的设置",
                "tags": [
                    "Cluster"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "当前用户的 token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "目标主机所在的集群的ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "node_id",
                        "in": "path",
                        "description": "目标主机ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 66
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "主机的新名称",
                                    "default": "主机名称"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：更改主机设置成功， 返回修改后的主机信息.<br>异常：数据错误10001;找不到主机12018;",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/clusters/{cluster_id}/nodes/{node_id}/metrics": {
            "get": {
                "summary": "查询主机的性能数据",
                "description": "查询主机的性能数据",
                "tags": [
                    "Cluster"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "node_id",
                        "in": "path",
                        "description": "主机id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 66
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：包含主机metrics 的 json 对象.<br>异常：找不到主机12018;",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/HostMetrics"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/clusters/{cluster_id}/nodes/{node_id}/services/{service_name}": {
            "patch": {
                "summary": "改变特定服务状态",
                "description": "改变特定服务状态",
                "tags": [
                    "Cluster"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "node_id",
                        "in": "path",
                        "description": "主机id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 66
                    },
                    {
                        "name": "service_name",
                        "in": "path",
                        "description": "服务名  exhibitor, zookeeper, master, marathon, chronos, logcollection, slave, cadvisor",
                        "required": true,
                        "type": "string",
                        "default": "exihibitor"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "method": {
                                    "type": "string",
                                    "description": "操作方法，可选值 reset(重置服务)，restart(重启服务)",
                                    "default": "reset"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：操作成功.<br>异常：数据错误10001;",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/labels": {
            "get": {
                "summary": "获取标签列表",
                "description": "获取标签列表",
                "tags": [
                    "Label"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：列出标签列表.",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Label"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "post": {
                "summary": "预制一个标签",
                "description": "预制一个标签",
                "tags": [
                    "Label"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "标签内容",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "标签",
                                    "default": "App"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：增加label成功, 返回结果为新的label列表.<br>异常：数据错误10001;",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "delete": {
                "summary": "批量删除多个标签",
                "description": "批量删除多个标签",
                "tags": [
                    "Label"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "description": "要删除的标签ID列表",
                            "items": {
                                "type": "integer",
                                "format": "int64"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：标签删除成功；标签不存在12001",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/clusters/{cluster_id}/nodes/labels": {
            "post": {
                "summary": "为多个主机批量设置标签",
                "description": "为多个主机批量设置标签",
                "tags": [
                    "Label"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "标签名称",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "nodes",
                                "labels"
                            ],
                            "properties": {
                                "nodes": {
                                    "type": "array",
                                    "description": "主机id列表",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "labels": {
                                    "type": "array",
                                    "description": "标签id列表",
                                    "items": {
                                        "type": "integer",
                                        "format": "int64"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：批量设置标签成功.<br>异常：数据错误10001;某标签不存在12019;",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "delete": {
                "summary": "为多个主机批量删除标签",
                "description": "为多个主机批量删除标签",
                "tags": [
                    "Label"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "标签名称",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "nodes": {
                                    "type": "array",
                                    "description": "主机id列表",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "labels": {
                                    "type": "array",
                                    "description": "标签id列表",
                                    "items": {
                                        "type": "integer",
                                        "format": "int32"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：批量删除标签成功.<br>异常：数据错误10001;某标签不存在12001;主机不存在12018;",
                        "schema": {
                            "required": [
                                "code"
                            ],
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/jobs": {
            "get": {
                "summary": "列出所有任务",
                "description": "列出所有任务",
                "tags": [
                    "Job"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：列出所有任务成功.",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Job"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/clusters/{cluster_id}/jobs": {
            "get": {
                "summary": "列出cluster上运行所有任务",
                "description": "列出cluster上运行所有任务",
                "tags": [
                    "Job"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：列出所有任务成功",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Job"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "post": {
                "summary": "创建一个docker任务",
                "description": "创建一个docker任务",
                "tags": [
                    "Job"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "发布一个任务需要的参数。",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PostJob"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：启动任务成功.<br>异常：集群不存在10017",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/clusters/{cluster_id}/jobs/{job_id}/status": {
            "get": {
                "summary": "返回单个任务状态",
                "description": "返回单个任务状态",
                "tags": [
                    "Job"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "job_id",
                        "in": "path",
                        "description": "Job唯一标识",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "default": 66
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：获取单个任务状态成功.<br>异常：集群不存在10017; Job不存在13001;",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "$ref": "#/definitions/JobStatus"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/clusters/{cluster_id}/jobs/{job_id}": {
            "get": {
                "summary": "返回单个任务详细信息",
                "description": "返回单个任务详细信息",
                "tags": [
                    "Job"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "job_id",
                        "in": "path",
                        "description": "job唯一标识",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "default": 66
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：列出单个任务详细信息成功.异常：集群不存在10017; Job不存在13001;",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "$ref": "#/definitions/Job"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "delete": {
                "summary": "删除任务",
                "description": "删除任务",
                "tags": [
                    "Job"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "job_id",
                        "in": "path",
                        "description": "任务名",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "default": 66
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：删除任务成功.<br>异常：集群不存在10017; Job不存在13001;",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            },
            "put": {
                "summary": "手动启动一个任务",
                "description": "手动启动一个任务",
                "tags": [
                    "Job"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "job_id",
                        "in": "path",
                        "description": "任务名",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "default": 66
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：启动任务成功.<br>异常：集群不存在10017; Job不存在13001;",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/clusters/{cluster_id}/jobs/{job_id}/tasks": {
            "delete": {
                "summary": "删除cluster下某个任务的所有tasks",
                "description": "删除cluster下某个任务的所有tasks",
                "tags": [
                    "Job"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cluster_id",
                        "in": "path",
                        "description": "集群ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": 88
                    },
                    {
                        "name": "job_id",
                        "in": "path",
                        "description": "job标识",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "default": 66
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：删除任务成功.<br>异常：集群不存在10017; Job不存在13001;",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "异常：token不合法时返回10002",
                        "schema": {
                            "$ref": "#/definitions/TokenNotValid"
                        }
                    }
                }
            }
        },
        "/apps": {
            "get": {
                "summary": "请求用户所有的apps",
                "description": "请求用户所有的apps列表",
                "tags": [
                    "App"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "用户token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "apps页数，第1页，第2页...",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "每页有多少条记录",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "keywords",
                        "in": "query",
                        "description": "搜索关键词，匹配应用名称",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "排序字段, 可选值包含instances, name, updated",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "sort顺序, 可选值包括asc, desc",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "正常：返回成功.<br>异常：集群不存在10017，数据异常10001",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "data"
                            ],
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/App"
                                    }
[...]
